{{> header/header-aut}}

<div>
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html" class="icon-house"></a>
                </li>
                <li>Личный кабинет</li>
            </ul>
        </div>
    </div>

    <div class="lk-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 pt-5">
                    {{> lk/lk-retail-nav}}
                </div>

                <div class="col-xl-9 col-lg-8">
                    <div>Здравствуйте, <span>Mila!</span></div>

                    <div class="lk-card">
                        <div class="d-flex lk-card__header">
                            <h4>сейчас в корзине</h4>
                            <div class="lk-card__header--info">
                                <p><b>Ваша скидка:</b> 10 %</p>
                                <p><b>Условия оплаты:</b> 100 %</p>
                                <p><b>Баланс:</b> 150 руб.</p>
                            </div>
                        </div>
                        <div class="d-flex lk-card__body lk-card-basket">
                            <div class="lk-card-basket__sum">
                                <div class="d-flex header__basket--link">
                                    <div class="header__basket--count">
                                        <div class="count">568</div>
                                        <div class="icon-basket"></div>
                                    </div>
                                    <div class="header__basket--sum">
                                        <div class="sum">90 052 руб.</div>
                                    </div>
                                </div>

                                <a href="#">Подробнее</a>
                            </div>

                            <a href="#" class="btn btn-yellow">Оформить заказ</a>
                        </div>
                    </div>

                    <div class="lk-card">
                        <div class="d-flex lk-card__header">
                            <h4>заказы в пути</h4>
                        </div>
                        <div class="lk-card__body lk-card-info">
                            <div class="d-flex justify-content-between lk-card-info__wrap">
                                <div class="lk-card-info__main">
                                    <div class="d-flex justify-content-between lk-card-info__main-header">
                                        <h6>№123456789</h6>
                                        <div class="price">К оплате 800 руб.</div>
                                    </div>
                                    <p>Создан: 21.04.2020</p>
                                    <p><b>Ожидаемая дата доставки: 27.04.2020</b></p>
                                    <p><b>Трек-номер: 123456789</b></p>
                                </div>

                                <div class="lk-card-info__action">
                                    <h6>Статус заказа: <span>сборка заказа начата</span></h6>
                                    <a href="#" class="btn btn-red btn-thin">отменить заказ</a>
                                    <a href="#" class="btn btn-lbrown btn-thin">повторить заказ</a>
                                </div>
                            </div>

                            <div class="lk-card-info__detail show">
                                <div class="lk-card-info__detail--btn">Детали заказа</div>
                                <div class="lk-card-info__detail--content">
                                    <div class="lk-order-table">
                                        <div class="d-flex lk-order-table__row">
                                            <div class="lk-order-table__number">1</div>
                                            <div class="lk-order-table__name">Черное мыло с древесной золой</div>
                                            <div class="lk-order-table__art">Арт. 1234556</div>
                                            <div class="lk-order-table__count">1 шт. × 350 руб.</div>
                                            <div class="lk-order-table__sum">350 руб.</div>
                                        </div>

                                        <div class="d-flex lk-order-table__row">
                                            <div class="lk-order-table__number">2</div>
                                            <div class="lk-order-table__name">Натуральное крымское мыло
                                                «Можжевельник», 100 г
                                            </div>
                                            <div class="lk-order-table__art">Арт. 1234556</div>
                                            <div class="lk-order-table__count">1 шт. × 350 руб.</div>
                                            <div class="lk-order-table__sum">350 руб.</div>
                                        </div>

                                        <div class="d-flex lk-order-table__row">
                                            <div class="lk-order-table__number">3</div>
                                            <div class="lk-order-table__name">Черное мыло с древесной золой</div>
                                            <div class="lk-order-table__art">Арт. 1234556</div>
                                            <div class="lk-order-table__count">2 шт. × 350 руб.</div>
                                            <div class="lk-order-table__sum">700 руб.</div>
                                        </div>

                                        <div class="d-flex lk-order-table__row">
                                            <div class="lk-order-table__number">4</div>
                                            <div class="lk-order-table__name">Натуральное крымское мыло
                                                «Можжевельник», 100 г
                                            </div>
                                            <div class="lk-order-table__art">Арт. 1234556</div>
                                            <div class="lk-order-table__count">1 шт. × 350 руб.</div>
                                            <div class="lk-order-table__sum">350 руб.</div>
                                        </div>

                                        <div class="d-flex lk-order-table__row lk-order-table__footer">
                                            <div class="lk-order-table__count">Итого:</div>
                                            <div class="lk-order-table__sum">90 052 руб.</div>
                                        </div>

                                        <div class="lk-order-table__info">
                                            <p><b>Товары:</b> 568 шт.</p>
                                            <p><b>Способ доставки:</b> курьером DPD</p>
                                            <p><b>Стоимость доставки:</b> 0 руб.</p>
                                            <p><b>Адрес доставки:</b> Россия, 295000, Респ Крым, Симферополь, ул.
                                                Пушкина, 12, кв. 45</p>
                                            <p><b>Получатель:</b> Мила Петровна Константинопольская, +7 978 123-45-67
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="link">Смотреть историю заказов</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
