<div class="lk-retail-nav">
    <ul class="lk-retail-nav__list">
        <li>
            <a href="#">
                <div class="icon icon-basket-nav"></div>
                корзина (568)
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon icon-orders-nav"></div>
                заказы
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon icon-review-nav"></div>
                мои отзывы (3)
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon icon-gift-nav"></div>
                мои подарки
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon icon-view-nav"></div>
                вы смотрели
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon icon-favorite-nav"></div>
                избранное (12)
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon icon-profile-nav"></div>
                профиль
            </a>
        </li>
        <li>
            <a href="#">
                <div class="icon icon-manager-nav"></div>
                чат с менеджером
            </a>
        </li>
    </ul>
</div>
