.lk-page {
    padding-bottom: 46px;

    h2 {
        color: $light-brown;
        text-transform: uppercase;
        margin-bottom: 30px
    }
}

.lk-retail-nav {
    &__list {
        @include nl;

        li {
        }

        li a {
            display: flex;
            align-items: center;
            font-size: 18px;
            line-height: 22px;
            color: $black-color2;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            padding: 13px 0 13px 55px;
            transition: all 0.25s;

            &:hover {
                color: $yellow-color;
                text-decoration: none;
            }
        }

        .icon {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            width: 55px;
        }
    }
}

.lk-card {
    margin-bottom: 20px;

    &__header {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;

        h4 {
            @extend %h4;
            color: $light-brown;
        }

        &--info {
            text-align: right;

            p {
                @extend %text12;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__body {
        padding: 22px 26px;
    }
}

.lk-card-basket {
    height: auto;
    min-height: 160px;
    background-color: $light-brown2;
    align-items: center;
    justify-content: space-between;
    padding: 22px 37px 22px 50px;

    .btn-yellow {
        color: $white-color;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
    }

    .header__basket {
        &--link {
            margin-bottom: 13px;
            align-items: flex-end;
        }

        &--count {
            .icon-basket {
                @include bg-svg($icon-basket-black2);
            }
        }

        &--sum {
            .sum {
                color: $black-color2;
                margin-bottom: 7px;
            }
        }
    }

    &__sum {
        a {
            color: $black-color2;
            @extend %text15;
            display: block;
            text-decoration: none;
            transition: all 0.25s;
            margin-left: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.lk-card-info {
    background-color: $yellow-color;
    padding-bottom: 11px;
    $f: &;

    &.old-card {
        background-color: $gray-color3;

        #{$f}__action {
            display: flex;
            align-self: stretch;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__wrap {
        align-items: flex-start;

        h6 {
            @extend %text18;
            font-weight: 600;
            margin-bottom: 0;

            span {
                font-weight: 400;
            }
        }
    }

    &__main {
        flex-grow: 1;
        padding-right: 50px;
        margin-bottom: 24px;

        .price {
            @extend %text18;
            font-weight: bold;
        }

        p {
            @extend %text15;
            margin-bottom: 0;
            line-height: 24px;
        }
    }

    &__action {
        flex-shrink: 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .btn {
            margin-top: 8px;
        }
    }

    .link {
        @extend %text15;
        color: $black-color2;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__detail {
        margin-bottom: 30px;
        border-bottom: 1px dashed $input-gray;
        padding-bottom: 15px;
        margin-top: -9px;
        $f: &;

        &.show {
            #{$f}--btn {
                margin-bottom: 15px;

                &:after {
                    transform: rotate(180deg);
                }
            }

            #{$f}--content {
                height: auto;
                opacity: 1;
                visibility: visible;
                padding: 18px 30px;
            }
        }

        &--btn {
            @extend %text15;
            cursor: pointer;
            position: relative;
            width: max-content;

            &:after {
                @include before;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: -20px;
                width: 11px;
                height: 7px;
                @include bg-svg($icon-select-arrow);
                transition: all 0.25s;
            }
        }

        &--content {
            background-color: $white-color;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.1s;
        }
    }
}

.lk-order-table {
    $f: &;

    &__row {
        align-items: flex-start;
        height: 41px;
        margin-bottom: 6px;
        @extend %text15;
        color: $black-color;
        justify-content: space-between;
    }

    &__number {
        width: 24px;
        flex-shrink: 0;
        font-weight: 600;
    }

    &__name {
        flex-grow: 1;
        font-weight: 600;
    }

    &__art {
        text-align: center;
        width: 110px;
        flex-shrink: 0;
        margin: 0 25px 0 15px;
    }

    &__count {
        text-align: right;
        width: 145px;
        flex-shrink: 0;
    }

    &__sum {
        font-weight: 600;
        text-align: right;
        width: 108px;
        flex-shrink: 0;
    }

    &__footer {
        position: relative;
        margin-bottom: 20px;
        align-items: center;
        justify-content: flex-end;

        &:after, &:before {
            @include before;
            position: absolute;
            right: 0;
            width: calc(100% - 18px);
            height: 0;
            border-top: 1px dashed $black-color2;
        }

        &:before {
            top: -1px;
        }

        &:after {
            bottom: -1px;
        }

        #{$f}__count {
            text-align: center;
        }
    }

    &__info {
        padding-left: 24px;
        padding-bottom: 8px;

        p {
            @extend %text12;
            margin-bottom: 0;
        }

        b {
            font-weight: bold;
        }
    }
}

.lk-fav-filter {
    padding: 22px 9px 22px 21px;
    background-color: $light-gray-bg;
    align-items: center;
    margin-bottom: 20px;

    p {
        margin-bottom: 0;
        @extend %text15;
        margin-right: 40px;
        flex-shrink: 0;
        font-weight: bold;
        color: $input-gray;
    }

    .btn-yellow {
        width: max-content;
        height: 43px;
        padding: 13px 25px;
        margin-right: 30px;
    }

    &__search {
        margin-left: auto;
        margin-right: 0;
        width: 306px;
        flex-shrink: 0;
        position: relative;

        .form-control {
            width: 100%;
            border-radius: 0;
            border: 1px solid $light-brown;
            height: 38px;
            box-sizing: border-box;
            font-size: 17px;
            line-height: 20px;
            padding: 8px 40px 8px 22px;

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }
        }

        .btn-search {
            width: 24px;
            height: 24px;
            @include bg-svg($search-med);
            position: absolute;
            z-index: 2;
            cursor: pointer;
            top: 0;
            bottom: 0;
            right: 9px;
            margin: auto;
        }
    }

    .reset {
        position: relative;
        padding-left: 16px;
        @extend %text12;
        cursor: pointer;
        transition: all 0.25s;

        &:before {
            @include before;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            height: 10px;
            width: 10px;
            @include bg-svg($close-reset);
        }

        &:hover {
            color: $light-brown;
        }
    }
}
