{{> header/header-aut}}

<div>
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html" class="icon-house"></a>
                </li>
                <li>Личный кабинет</li>
            </ul>
        </div>
    </div>

    <div class="lk-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 pt-2">
                    {{> lk/lk-retail-nav}}
                </div>

                <div class="col-xl-9 col-lg-8">
                    <div class="d-flex justify-content-between catalog__wrap">
                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price"><span>560</span>448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price">448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price"><span>560</span>448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price"><span>560</span>448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price"><span>560</span>448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price">448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price"><span>560</span>448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price"><span>560</span>448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="product">
                            <div class="product__body">
                                <div class="product__hit">хит продаж</div>
                                <div class="product__new">НОВИНКА!</div>
                                <div class="product__sale">-20%</div>
                                <div class="product__sale">-20%</div>

                                {{> product/like}}

                                <div class="product__image">
                                    <img src="static/img/content/product2.png" alt="">
                                </div>
                                <div class="product__content">
                                    <a href="#" class="product__title">anti-age Гоммаж для лица
                                        на основе винограда «Деликатное очищение» 150 г</a>

                                    <div class="product__price"><span>560</span>448 руб.</div>
                                </div>
                            </div>

                            <div class="product__footer">
                                <form>
                                    <div class="d-flex product__basket">
                                        <div class="d-flex spinner-form">
                                            <div class="count-minus">-</div>
                                            <div class="wrap-input">
                                                <input type="number" name="" class="spinner-form__input"
                                                       data-size="1"
                                                       value="1">
                                            </div>
                                            <div class="count-plus">+</div>
                                        </div>

                                        <button class="btn-add">
                                            <div class="icon-basket-black"></div>
                                            в корзину
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="main-product">
            <div class="container">
                <div class="main-title">
                    <h2>Вам также может понравиться</h2>
                </div>

                <div class="main-product__slider-wrap">
                    <div class="swiper-container main-product__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product2.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span></span>560 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product1.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span></span>560 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product2.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span>560</span>448 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>

                                        <div class="product__image">
                                            <img src="static/img/content/product3.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <a href="#" class="product__footer--link">узнать больше</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product3.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <a href="#" class="product__footer--link">узнать больше</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>

                                        <div class="product__image">
                                            <img src="static/img/content/product2.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span>560</span>448 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination main-product-pagination"></div>

                    <div class="swiper-button-prev main-product-prev"></div>
                    <div class="swiper-button-next main-product-next"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
