.catalog {
    padding-bottom: 77px;

    &__wrap {
        flex-wrap: wrap;

        .main-title {
            width: 100%;
            margin-bottom: 33px;
        }

        .product {
            width: 318px;
            flex-shrink: 0;
            margin-bottom: 70px;
        }
    }

    &-select {
        width: 100%;
        margin-bottom: 20px;
    }

    &-aside {
        padding-top: 73px;
    }

    &-banner {
        margin-bottom: 16px;
        margin-top: 46px;

        &__img {
            margin-bottom: 20px;
            height: 257px;
            position: relative;
            background-image: linear-gradient(to top, #bcbcbc 0%, rgba(255, 255, 255, 0) 70%);

            img {
                @include img-full;
                @include full;
                @include pos-absolute;
            }
        }

        h1 {
            @extend %h2;
            color: $black-color2;
            margin-bottom: 12px;
        }

        h6 {
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            text-transform: uppercase;
            margin-bottom: 0;
            color: $input-gray;
            letter-spacing: 0.5px;
        }
    }
}

.filter-menu {
    @include nl;
    $f: &;

    li {
        margin-bottom: 4px;

        &.active > a {
            color: $yellow-color;
        }

        &.has-child.active {
            #{$f}__sub {
                display: block;
            }
        }
    }

    li > a {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: $black-color2;
        transition: all 0.25s;

        &:hover {
            color: $yellow-color;
            text-decoration: none;
        }
    }

    &__sub {
        @include nl;
        margin-left: 20px;
        display: none;

        li {
            margin-bottom: 4px;

            &.active > a {
                color: $yellow-color;
            }
        }

        li > a {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            color: $black-color2;
            transition: all 0.25s;

            &:hover {
                color: $yellow-color;
                text-decoration: none;
            }
        }
    }
}

.select-item {
    margin-bottom: 13px;
    margin-right: 14px;

    .select2-container {
        background: $white-color;
        box-sizing: border-box;
        border-radius: 19px !important;
        height: 39px;
        border: none;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            border-radius: 32px;
        }

        &.select2-container--open, &.select2-container--focus {
            outline: none;
            box-shadow: none;
            border-radius: 19px;
        }

        &.select2-container--open {
            .select2-selection__arrow {
                transform: rotate(180deg);
            }
        }

        .select2-selection--single {
            background: $white-color;
            border: 1px solid $yellow-color;
            box-sizing: border-box;
            height: 39px;
            border-radius: 19px !important;

            &[aria-expanded="true"] {
                .select2-selection__arrow b {
                    transform: rotate(180deg);
                }
            }

            &:focus, &:active {
                outline: none;
                box-shadow: none;
                border-radius: 19px;
            }
        }

        .select2-selection__rendered {
            height: 37px;
            line-height: 37px !important;
            @extend %text15;
            color: $black-color2 !important;
            padding-left: 20px !important;
            padding-right: 40px !important;
        }

        .select2-selection__arrow {
            height: 7px !important;
            width: 11px !important;
            @include bg-svg($icon-select-arrow);
            top: 0;
            right: 17px !important;
            bottom: 0;
            margin: auto;

            b {
                display: none;
            }
        }
    }
}

.select2-container {
    &.select-custom {
        margin-top: -10px;
    }
    .select2-dropdown {
        border: none !important;
        -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
    }
    .select2-results {
        &__options {
            padding: 10px 0;
            border-radius: 0;
            max-height: max-content !important;
        }
        &__option {
            padding: 3px 28px;
            font-size: 15px;
            line-height: 20px;
            color: $black-color2;
            &:hover {
                background-color: $white-color;
                color: $light-brown;
            }
            &[aria-selected="true"] {
                background-color: $white-color;
                color: $light-brown;
            }
        }
        &__option--highlighted {
            background-color: $white-color;
            color: $light-brown;
        }
    }
}
