{{> header/header-aut}}

<div>
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html" class="icon-house"></a>
                </li>
                <li>
                    <a href="catalog.html">Каталог</a>
                </li>
                <li>
                    <a href="catalog.html">Косметика для лица</a>
                </li>
                <li>Сыворотки</li>
            </ul>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="catalog">
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="aside catalog-aside">
                            <ul class="filter-menu">
                                <li><a href="javascript:void(0)">Акции!</a></li>
                                <li class="has-child active"><a href="javascript:void(0)">Для лица</a>
                                    <ul class="filter-menu__sub">
                                        <li><a href="javascript:void(0)">Дневные кремы</a></li>
                                        <li><a href="javascript:void(0)">Ночные кремы</a></li>
                                        <li><a href="javascript:void(0)">Тоники</a></li>
                                        <li class="active"><a href="javascript:void(0)">Скрабы и пилинги</a></li>
                                        <li><a href="javascript:void(0)">Сыворотки</a></li>
                                        <li><a href="javascript:void(0)">Маски</a></li>
                                        <li><a href="javascript:void(0)">Масло</a></li>
                                        <li><a href="javascript:void(0)">Для кожи вокруг глаз</a></li>
                                        <li><a href="javascript:void(0)">Для бровей и ресниц</a></li>
                                        <li><a href="javascript:void(0)">Наборы</a></li>
                                    </ul>
                                </li>
                                <li class="has-child"><a href="javascript:void(0)">Для тела</a>
                                    <ul class="filter-menu__sub">
                                        <li><a href="javascript:void(0)">Дневные кремы</a></li>
                                        <li><a href="javascript:void(0)">Ночные кремы</a></li>
                                        <li><a href="javascript:void(0)">Тоники</a></li>
                                        <li><a href="javascript:void(0)">Скрабы и пилинги</a></li>
                                        <li><a href="javascript:void(0)">Сыворотки</a></li>
                                        <li><a href="javascript:void(0)">Маски</a></li>
                                        <li><a href="javascript:void(0)">Масло</a></li>
                                        <li><a href="javascript:void(0)">Для кожи вокруг глаз</a></li>
                                        <li><a href="javascript:void(0)">Для бровей и ресниц</a></li>
                                        <li><a href="javascript:void(0)">Наборы</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Для волос</a></li>
                                <li><a href="javascript:void(0)">Линейки</a></li>
                                <li class="has-child"><a href="javascript:void(0)">Наши бренды</a>
                                    <ul class="filter-menu__sub">
                                        <li><a href="javascript:void(0)">Бренд1</a></li>
                                        <li><a href="javascript:void(0)">Бренд2</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Крымское мыло</a></li>
                                <li><a href="javascript:void(0)">Сакская грязь</a></li>
                                <li><a href="javascript:void(0)">Подарочные наборы</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-9">
                        <div class="d-flex justify-content-between catalog__wrap">
                            <div class="main-title">
                                <h2>Натуральные сыворотки для лица</h2>
                            </div>

                            <div class="d-flex catalog-select">
                                <div class="select-item">
                                    <select class="select2 select-price">
                                        <option>Сначала дешевые</option>
                                        <option>Сначала дорогие</option>
                                        <option>Сначала популярные</option>
                                        <option>Сначала новинки</option>
                                        <option>Сначала хиты продаж</option>
                                        <option>Сначала со скидкой</option>
                                    </select>
                                </div>

                                <div class="select-item">
                                    <select class="select2 select-type">
                                        <option>Тип ухода</option>
                                        <option>Очищение</option>
                                        <option>Увлажнение</option>
                                        <option>Тонизирование</option>
                                        <option>Питание</option>
                                        <option>ANTI-AGE</option>
                                        <option>Проблемная</option>
                                        <option>Ночной уход</option>
                                        <option>Дневной уход</option>
                                        <option>После загара</option>
                                        <option>Снятие макияжа</option>
                                    </select>
                                </div>

                                <div class="select-item">
                                    <select class="select2 select-skin">
                                        <option>По типу кожи</option>
                                        <option>По типу кожи</option>
                                        <option>Нормальная</option>
                                        <option>Жирная</option>
                                        <option>Сухая</option>
                                        <option>Обезвоженная</option>
                                        <option>Комбинированная</option>
                                        <option>Проблемная</option>
                                        <option>Молодая</option>
                                        <option>Зрелая</option>
                                    </select>
                                </div>

                                <div class="select-item">
                                    <select class="select2 select-component">
                                        <option>Компонент</option>
                                        <option>Ромашка</option>
                                        <option>Кропива</option>
                                    </select>
                                </div>

                                <div class="select-item">
                                    <select class="select2 select-line">
                                        <option>Линейка</option>
                                        <option>Линейка</option>
                                        <option>Green Detox</option>
                                        <option>Деликатный уход For Lady</option>
                                        <option>Мужская линейка</option>
                                        <option>Crimean Queen® для лица</option>
                                        <option>Crimean Queen® для тела</option>
                                        <option>С активами соков</option>
                                        <option>Антицеллюлитная для тела</option>
                                        <option>Anti-age Виноградная</option>
                                        <option>С муцином улитки для лица</option>
                                        <option>С Сакской грязью</option>
                                        <option>Anti-age Пеломарин® и тмин</option>
                                        <option>Крымская лаванда</option>
                                    </select>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price">448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price">448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price">448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="product">
                                <div class="product__body">
                                    <div class="product__hit">хит продаж</div>
                                    <div class="product__new">НОВИНКА!</div>
                                    <div class="product__sale">-20%</div>
                                    <div class="product__sale">-20%</div>

                                    {{> product/like}}

                                    <div class="product__image">
                                        <img src="static/img/content/product2.png" alt="">
                                    </div>
                                    <div class="product__content">
                                        <a href="#" class="product__title">anti-age Гоммаж для лица
                                            на основе винограда «Деликатное очищение» 150 г</a>

                                        <div class="product__price"><span>560</span>448 руб.</div>
                                    </div>
                                </div>

                                <div class="product__footer">
                                    <form>
                                        <div class="d-flex product__basket">
                                            <div class="d-flex spinner-form">
                                                <div class="count-minus">-</div>
                                                <div class="wrap-input">
                                                    <input type="number" name="" class="spinner-form__input"
                                                           data-size="1"
                                                           value="1">
                                                </div>
                                                <div class="count-plus">+</div>
                                            </div>

                                            <button class="btn-add">
                                                <div class="icon-basket-black"></div>
                                                в корзину
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <a href="javascript:void(0)" class="btn btn-black mt-4 mx-auto">показать еще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
