{{> header/header-aut}}


<div class="">
    <div class="container">
        <div class="catalog pb-3">
            <div class="catalog-banner">
                <div class="catalog-banner__img">
                    <img src="static/img/content/catalog-banner.png" alt="">
                </div>

                <h1>крымский<br>
                    можжевельник</h1>
                <h6>Повседневная практика показывает, что сложившаяся структура организации в значительной степени
                    обуславливает создание форм развития. Задача организации, в особенности же начало повседневной
                    работы по формированию позиции способствует подготовки и реализации модели развития.</h6>
            </div>

            <div class="d-flex justify-content-between catalog__wrap">
                <div class="main-title">
                    <h2>Натуральные сыворотки для лица</h2>
                </div>

                <div class="d-flex catalog-select">
                    <div class="select-item">
                        <select class="select2 select-price">
                            <option>Сначала дешевые</option>
                            <option>Сначала дорогие</option>
                            <option>Сначала популярные</option>
                            <option>Сначала новинки</option>
                            <option>Сначала хиты продаж</option>
                            <option>Сначала со скидкой</option>
                        </select>
                    </div>

                    <div class="select-item">
                        <select class="select2 select-type">
                            <option>Тип ухода</option>
                            <option>Очищение</option>
                            <option>Увлажнение</option>
                            <option>Тонизирование</option>
                            <option>Питание</option>
                            <option>ANTI-AGE</option>
                            <option>Проблемная</option>
                            <option>Ночной уход</option>
                            <option>Дневной уход</option>
                            <option>После загара</option>
                            <option>Снятие макияжа</option>
                        </select>
                    </div>

                    <div class="select-item">
                        <select class="select2 select-skin">
                            <option>По типу кожи</option>
                            <option>По типу кожи</option>
                            <option>Нормальная</option>
                            <option>Жирная</option>
                            <option>Сухая</option>
                            <option>Обезвоженная</option>
                            <option>Комбинированная</option>
                            <option>Проблемная</option>
                            <option>Молодая</option>
                            <option>Зрелая</option>
                        </select>
                    </div>

                    <div class="select-item">
                        <select class="select2 select-component">
                            <option>Компонент</option>
                            <option>Ромашка</option>
                            <option>Кропива</option>
                        </select>
                    </div>

                    <div class="select-item">
                        <select class="select2 select-line">
                            <option>Линейка</option>
                            <option>Линейка</option>
                            <option>Green Detox</option>
                            <option>Деликатный уход For Lady</option>
                            <option>Мужская линейка</option>
                            <option>Crimean Queen® для лица</option>
                            <option>Crimean Queen® для тела</option>
                            <option>С активами соков</option>
                            <option>Антицеллюлитная для тела</option>
                            <option>Anti-age Виноградная</option>
                            <option>С муцином улитки для лица</option>
                            <option>С Сакской грязью</option>
                            <option>Anti-age Пеломарин® и тмин</option>
                            <option>Крымская лаванда</option>
                        </select>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price">448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price">560 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price">560 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price">448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="product">
                    <div class="product__body">
                        <div class="product__hit">хит продаж</div>
                        <div class="product__new">НОВИНКА!</div>
                        <div class="product__sale">-20%</div>
                        <div class="product__sale">-20%</div>

                        {{> product/like}}

                        <div class="product__image">
                            <img src="static/img/content/product2.png" alt="">
                        </div>
                        <div class="product__content">
                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение» 150 г</a>

                            <div class="product__price"><span>560</span>448 руб.</div>
                        </div>
                    </div>

                    <div class="product__footer">
                        <form>
                            <div class="d-flex product__basket">
                                <div class="d-flex spinner-form">
                                    <div class="count-minus">-</div>
                                    <div class="wrap-input">
                                        <input type="number" name="" class="spinner-form__input"
                                               data-size="1"
                                               value="1">
                                    </div>
                                    <div class="count-plus">+</div>
                                </div>

                                <button class="btn-add">
                                    <div class="icon-basket-black"></div>
                                    в корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> main/main-component/main-component}}
</div>


{{> footer/footer}}
