<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <ul>
            <li>
                <a href="main.html">Главная</a>
            </li>
            <li>
                <a href="about.html">О нас</a>
            </li>
            <li>
                <a href="company-life.html">Жизнь компании</a>
            </li>
            <li>
                <a href="production.html">Производство</a>
            </li>
            <li>
                <a href="news.html">Новости</a>
            </li>
            <li>
                <a href="catalog.html">Каталог</a>
            </li>
            <li>
                <a href="catalog-type.html">Каталог по типу</a>
            </li>
            <li>
                <a href="product.html">Карточка товара</a>
            </li>
            <li>
                <a href="lk-retail-main.html">ЛК розница (главная)</a>
            </li>
            <li>
                <a href="lk-retail-history.html">ЛК розница (история заказа)</a>
            </li>
            <li>
                <a href="lk-retail-view.html">MDP ЛК розница - Вы смотрели</a>
            </li>
            <li>
                <a href="lk-retail-favorite.html">MDP ЛК розница - Избранное</a>
            </li>
        </ul>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
