// Common styles of the project

html, body {
    height: 100%;
    font-family: $font-Montserrat;
}

body {
    overflow-x: hidden;
}

.bg-gray {
    background-color: $light-gray-bg;
}

.main-title {
    position: relative;
    text-align: center;
    margin-bottom: 22px;
    z-index: 1;

    &.white-title {
        h2:after {
            background-color: $white-color;
        }
    }

    &.gray-title {
        h2:after {
            background-color: $light-gray-bg;
        }
    }

    &:before {
        @include before;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 0;
        border-top: 1px solid $light-brown;
        z-index: 1;
    }

    h2 {
        color: $light-brown;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 500;
        position: relative;
        z-index: 2;
        width: max-content;
        margin: 0 auto;

        &:after {
            @include before;
            height: 100%;
            width: calc(100% + 30px);
            position: absolute;
            z-index: -1;
            top: 0;
            left: -15px;
            background-color: $white-color;
        }
    }
}

.swiper-pagination {
    position: relative;
    width: max-content;

    &-bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    &-bullet {
        height: 16px !important;
        width: 16px !important;
        margin-right: 15px;
        border-radius: 50%;
        background-color: $light-brown !important;
        opacity: 0.4 !important;

        &:last-child {
            margin-right: 0;
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }

    &-bullet-active {
        opacity: 1 !important;
        background-color: $light-brown !important;
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 14px !important;
    height: 28px !important;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/general/slider-arrow.svg");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    &:after {
        display: none;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.link {
    text-decoration: underline;
    color: $light-brown;
    transition: all 0.25s;
    @extend %text18;
    z-index: 2;

    &:hover {
        color: $yellow-color;
    }
}

.link-more {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.25s;
    display: block;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    text-align: center;
    display: table;
    text-decoration: none;
    border: none;
    padding: 0;
    transition: all 0.25s;
    border-radius: 0;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }

    &:focus, &:active {
        box-shadow: none;
        outline: none;
    }
}

.btn-yellow {
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: $black-color2;
    padding: 18px;
    width: 287px;
    background-color: $yellow-color;

    &:hover {
        background-color: $black-color;
        color: $white-color;
    }
}

.btn-black {
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: $white-color;
    padding: 18px;
    width: 287px;
    background-color: $black-color;

    &:hover {
        background-color: $yellow-color;
        color: $white-color;
    }
}

.btn-red {
    color: $white-color;
    background-color: $red-color;
    @extend %text18;
    width: 289px;
    padding: 18px;
    font-weight: 600;
    &:hover {
        background-color: $white-color;
        color: $red-color;
    }
}

.btn-lbrown {
    color: $white-color;
    background-color: $light-brown;
    @extend %text18;
    width: 289px;
    font-weight: 600;
    padding: 18px;
    &:hover {
        background-color: $white-color;
        color: $light-brown;
    }
}

.btn-thin {
    padding: 8px 18px;
}


.breadcrumb {
    padding: 20px 0 10px;
    background-color: transparent;

    &__list {
        @include nl;
        display: flex;
        align-items: center;

        li {
            flex-shrink: 0;
            margin-right: 32px;
            color: $input-gray;
            font-size: 15px;
            font-weight: 400;
            line-height: 19px;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
            &:before {
                content: '>';
                display: block;
                position: absolute;
                color: $input-gray;
                font-size: 15px;
                font-weight: 400;
                line-height: 19px;
                top: 0;
                left: -20px;
            }
        }

        li a {
            cursor: pointer;
            display: block;
            color: $input-gray;
            font-size: 15px;
            font-weight: 400;
            line-height: 19px;
            transition: all 0.25s;
            &:hover {
                color: $black-color;
                text-decoration: none;
            }
        }

        .icon-house {
            width: 21px;
            height: 19px;
            @include bg-svg($icon-home-breadcrumbs);
            transition: none;
            &:hover {
                @include bg-svg($icon-home-breadcrumbs-hover);
            }
        }
    }
}
