.icon-facebook {
    @include bg-svg($icon-facebook);
}
.icon-vk {
    @include bg-svg($icon-vk);
}
.icon-inst {
    @include bg-svg($icon-inst);
}
.icon-facebook-big {
    @include bg-svg($icon-f);
}
.icon-vk-big {
    @include bg-svg($icon-vk-big);
}
.icon-inst-big {
    @include bg-svg($icon-instagram);
}
.star-full {
    @include bg-svg($star-full);
}
.star-empty {
    @include bg-svg($star-empty);
}
.star-half {
    @include bg-svg($star-half);
}
.icon-home {
    @include bg-svg($icon-home);
    &:hover {
        @include bg-svg($icon-home-hover);
    }
}
.icon-user {
    @include bg-svg($icon-user);
}
.icon-local {
    @include bg-svg($icon-local);
}
.icon-search {
    @include bg-svg($icon-search);
}
.icon-comment {
    @include bg-svg($icon-comment);
}
.icon-basket {
    @include bg-svg($icon-basket);
}
.icon-house {
    width: 21px;
    height: 19px;
    @include bg-svg($icon-home-breadcrumbs);
    &:hover {
        @include bg-svg($icon-home-breadcrumbs-hover);
    }
}

.icon-eye {
    @include bg-svg($icon-eye);
}

.icon-gift {
    @include bg-svg($icon-gift);
}

.icon-full-star {
    @include bg-svg($icon-full-star);
}

.icon-like-full {
    @include bg-svg($like-full);
}

.icon-basket-nav {
    @include bg-svg($basket-nav);
}
.icon-orders-nav {
    @include bg-svg($orders-nav);
}
.icon-review-nav {
    @include bg-svg($star-nav);
}
.icon-gift-nav {
    @include bg-svg($gift-nav);
}
.icon-view-nav {
    @include bg-svg($view-nav);
}
.icon-favorite-nav {
    @include bg-svg($favorite-nav);
}
.icon-profile-nav {
    @include bg-svg($profile-nav);
}
.icon-manager-nav {
    @include bg-svg($manager-nav);
}
