$light-brown: #CAAD6F;
$light-brown2: #eadec5;
$yellow-color: #FFC313;
$green-color: #4EC713;
$green-check: #6FD100;
$light-green-color: #A5F133;
$white-color: #ffffff;
$black-color: #000000;
$black-color2: #303030;
$light-gray-bg: #F8F8F8;
$gray-color: #b9b8b8;
$gray-color2: #d6d6d6;
$gray-color3: #E1E1E1;
$dark-gray: #514f62;
$input-gray: #6d6c6a;
$red-color: #FF132B;

$border-color: #caad6f;

$text-color: #303030;

$font-Montserrat: 'Montserrat', sans-serif;

.light-blown2-bg {
    background-color: $light-brown2;
}
.light-gray-bg {
    background-color: $light-gray-bg;
}

%text12 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

%text14 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
%text15 {
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
}

%text18 {
    font-size: 18px;
    line-height: 22px;
}

%h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
}

%h4 {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-bottom: 0;
}

h4 {
    @extend %h4;
}

%h6 {
}
