.main-offers {
    &__slider {
        position: relative;
        z-index: 2;
    }
}

.main-product {
    position: relative;

    &__slider {
        position: relative;
        z-index: 2;
    }

    &__slider-wrap {
        margin-bottom: 10px;
        position: relative;
        z-index: 10;

        &:hover + .link {
            z-index: 1;
        }

        .swiper-button-prev {
            left: -42px;
        }

        .swiper-button-next {
            right: -42px;
        }

        .swiper-slide {
            height: auto;
        }
    }

    .swiper-wrapper {
        padding-top: 15px;
        padding-bottom: 69px;
        position: relative;
    }

    .swiper-pagination {
        bottom: 28px;
        width: max-content;
        margin-right: auto;
        margin-left: auto;
        z-index: 1;
    }

    .link {
        position: absolute;
        bottom: 25px;
        display: block;
        z-index: 11;
    }
}

.product-group {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 20px;
    $f: &;

    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        margin-top: -10px;
        transition: all 0.25s;

        .product__footer {
            bottom: -59px;
            opacity: 1;
            visibility: visible;
        }
    }

    &__image {
        @include full;
        @include pos-absolute;
        overflow: hidden;
        z-index: 1;

        &:after {
            @include before;
            @include pos-absolute;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.77) 0%, rgba(100, 103, 111, 0) 100%);
            opacity: 0.8;
            width: 100%;
            height: 80%;
            top: auto;
            bottom: 0;
        }

        img {
            @include full;
            @include pos-absolute;
            @include img-full;
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $white-color;
        transition: all 0.25s;

        &:hover {
            color: $light-brown;
            text-decoration: none;
        }
    }
}

.product {
    background-color: $light-gray-bg;
    position: relative;
    z-index: 10;

    $f: &;

    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        margin-top: -10px;
        transition: all 0.25s;

        #{$f}__footer {
            bottom: -59px;
            opacity: 1;
            visibility: visible;
        }
    }

    .check-like {
        position: absolute;
        z-index: 2;
        top: 39px;
        right: 32px;
    }

    &__image {
        height: 330px;
        position: relative;
        z-index: 1;

        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            @include center;
        }
    }

    &__content {
        height: 125px;
        text-align: center;
        padding: 10px 20px;
    }

    &__title {
        text-decoration: none;
        line-height: 19px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: $black-color;
        margin-bottom: 8px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        transition: all 0.25s;

        &:hover {
            color: $yellow-color;
            text-decoration: none;
        }
    }

    &__price {
        color: $black-color;
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;

        span {
            color: $gray-color;
            font-size: 18px;
            padding-right: 5px;
            text-decoration: line-through;
        }
    }

    &__hit {
        top: 10px;
        left: 10px;
        background-color: $light-brown;
        position: absolute;
        z-index: 2;
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        letter-spacing: 0.72px;
        text-transform: uppercase;
        color: $white-color;
        padding: 3px 15px;
    }

    &__new {
        position: absolute;
        z-index: 2;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.7px;
        top: 11px;
        right: 12px;
        text-transform: uppercase;
        color: $light-brown;
    }

    &__sale {
        position: absolute;
        top: 60px;
        left: 19px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        z-index: 2;
        background-color: $yellow-color;
        text-align: center;
        color: $white-color;
        line-height: 65px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;

        &:after {
            @include before;
            position: absolute;
            width: 73px;
            height: 73px;
            border-radius: 50%;
            border: 1px solid $yellow-color;
            top: -4px;
            left: -4px;
        }
    }

    &__footer {
        background-color: $yellow-color;
        height: 69px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -59px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s;
        z-index: 10;
        -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);

        &:hover {
            opacity: 1;
            visibility: visible;
        }

        &--link {
            text-transform: uppercase;
            color: $black-color;
            font-size: 15px;
            line-height: 19px;
            font-weight: bold;
            display: block;
            text-align: center;

            &:hover {
                color: $black-color;
                text-decoration: underline;
            }
        }
    }
}

.check-like {
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    &.checked {
        label {
            @include bg-svg($like-full);
        }
    }

    label {
        display: block;
        width: 32px;
        height: 28px;
        @include bg-svg($like-empty);
        cursor: pointer;
        position: relative;
    }
}

.spinner-form {
    align-items: center;
    margin-right: 25px;

    .wrap-input {
        width: 64px;
        margin: 0 5px;
    }

    &__input {
        width: 100%;
        height: 28px;
        text-align: center;
        background-color: $white-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        border: none;
        padding: 5px;
        -moz-appearance: textfield;
        -webkit-appearance: none;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }

    .count-minus, .count-plus {
        height: 20px;
        width: 20px;
        background-color: $light-brown2;
        line-height: 20px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: $black-color2;
        border-radius: 50%;
        border: none;
        padding: 0;
        cursor: pointer;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }
}

.btn-add {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 19px;
    transition: all 0.1s;

    .icon-basket-black {
        width: 32px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 5px;
        @include bg-svg($icon-basket-black);
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        color: $white-color;

        .icon-basket-black {
            @include bg-svg($icon-basket-white);
        }
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
