.company-article {
    margin-bottom: 20px;
    border-bottom: 1px solid $light-brown;
    &:last-child {
        margin-bottom: 45px;
    }

    $f: &;

    &__image {
        overflow: hidden;
        height: 361px;
        position: relative;margin-bottom: 25px;
        img {
            @include full;
            @include img-full;
            @include pos-absolute;
        }
    }

    &__content {
        margin: 0 auto;
        width: 100%;
        max-width: 1095px;
        height: 326px;
        position: relative;
        overflow: hidden;
        transition: height 0.25s;

        &.show {
            height: auto;
            padding-bottom: 60px;

            #{$f}__more {
                padding-top: 30px;
                height: 60px;

                &:after {
                    transform: rotate(180deg);
                    top: 5px;
                }
            }
        }

        h2 {
            @extend %h2;
            color: $black-color2;
            margin-bottom: 5px;
        }
        time {
            color: $black-color2;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.23px;
            line-height: 24px;
            margin-bottom: 10px;
            display: block;
        }
        p {
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.23px;
            line-height: 24px;
            margin-bottom: 20px;
            color: $black-color2;
        }
    }

    &__more {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        height: 98px;
        width: 100%;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        cursor: pointer;
        color: $light-brown;
        background: linear-gradient(180deg, rgba(255,255,255,0.7) 10%, rgba(255,255,255,1) 80%);
        padding-top: 40px;
        &:after {
            @include before;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            margin: auto;
            @include bg-svg($arrow-more-down);
        }
    }
}
