.footer {
    background-color: $light-brown;
    padding: 94px 0 40px;
    @media screen and (max-width: 1024px) {
        padding: 70px 0 40px;
    }

    &__wrap {
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        display: block;
        width: 182px;
        height: 182px;
        flex-shrink: 0;
        margin-right: 39px;
        margin-top: -24px;
        @media screen and (max-width: 1320px) {
            width: 115px;
            height: 115px;
            margin-right: 10px;
        }
        @media screen and (max-width: 1024px) {
            width: 182px;
            height: 182px;
            margin-right: 30px;
            margin-top: -20px;
        }

        img {
            width: 100%;
        }
    }

    &__col1 {
        @media screen and (max-width: 1024px) {
            flex-shrink: 0;
        }
    }

    &__col2 {
    }

    &__col3 {
        width: 539px;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1320px) {
            width: 400px;
        }

        @media screen and (max-width: 1024px) {
            width: 539px;
            margin-top: 40px;
        }
    }

    &__menu {
        @include nl;
        margin-bottom: 30px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            margin-bottom: 0;

            @media screen and (max-width: 1320px) {
                margin-bottom: 3px;
            }
            @media screen and (max-width: 1024px) {
                margin-bottom: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            text-decoration: none;
            text-transform: uppercase;
            color: $white-color;
            font-size: 14px;
            display: block;
            line-height: 25px;
            transition: all 0.25s;
            @media screen and (max-width: 1320px) {
                font-size: 13px;
            }
            @media screen and (max-width: 1024px) {
                font-size: 14px;
            }

            &:hover {
                color: $yellow-color;
            }
        }
    }

    &__phone {
        margin: 16px 0 0 auto;
        width: max-content;
        text-align: left;

        a {
            color: $yellow-color;
            text-decoration: none;
            font-size: 30px;
            line-height: 37px;
            font-weight: 500;
            display: block;
            @media screen and (max-width: 1320px) {
                font-size: 25px;
                line-height: 32px;
            }
        }

        p {
            text-transform: uppercase;
            color: $yellow-color;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 0;
            text-align: right;
        }
    }

    &__soc {
        @media screen and (max-width: 1024px) {
            margin-bottom: 40px;
        }
        p {
            color: $white-color;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 13px;
        }

        &--menu {
            @include nl;
            display: flex;
            align-items: center;

            li {
                flex-shrink: 0;
                width: 40px;
                margin-right: 17px;

                &:last-child {
                    margin-right: 0;
                }
            }

            li a {
                display: block;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: all 0.25s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__card {
        margin-top: auto;

        &--list {
            @include nl;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            li {
                margin-right: 11px;
                flex-shrink: 0;
                width: 54px;
                height: 35px;
                background-color: $white-color;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        p {
            color: $white-color;
            margin-bottom: 0;
            @extend %text14;
        }
    }

    &__mail {
        position: relative;
        z-index: 1;
        margin-top: 10px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-image: url("../img/content/mail-border.png");
        padding: 28px;
        margin-bottom: 20px;
        box-sizing: border-box;
        @media screen and (max-width: 1320px) {
            padding: 28px 15px;
        }

        &--icon {
            @include bg-svg($icon-mail);
            position: absolute;
            top: -10px;
            left: 29px;
            z-index: 2;
            @media screen and (max-width: 1320px) {
                left: 15px;
            }
        }

        p {
            margin-bottom: 20px;
            color: $white-color;
            @extend %text14;
            text-transform: uppercase;
        }

        &--form {
            display: flex;
            align-items: center;
            box-sizing: border-box;

            input {
                flex-grow: 1;
                box-sizing: border-box;
                padding: 9px 18px;
                @extend %text18;
                transition: all 0.25s;
                border: 1px solid $white-color;
                width: 100%;
                @media screen and (max-width: 1320px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 18px;
                }

                &:focus, &:active {
                    outline: none;
                }

                &:focus {
                    border-color: $yellow-color;
                }

                &::placeholder {
                    color: $input-gray;
                }
            }

            .btn-yellow {
                flex-shrink: 0;
                width: max-content;
                padding: 10px 22px;
                @extend %text18;
                color: $white-color;
                font-weight: 600;
                @media screen and (max-width: 1320px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 18px;
                }
            }
        }
    }
}
