<footer class="footer">
    <div class="container">
        <div class="d-flex footer__wrap">
            <div class="footer__col1">
                <div class="d-flex">
                    <a href="#" class="footer__logo" title="logo">
                        <img src="static/img/general/logo.png" alt="logo">
                    </a>

                    <ul class="footer__menu">
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <li>
                            <a href="#">Как оплатить</a>
                        </li>
                        <li>
                            <a href="#">Доставка</a>
                        </li>
                        <li>
                            <a href="#">Где купить</a>
                        </li>
                        <li>
                            <a href="#">обмен и возврат</a>
                        </li>
                        <li>
                            <a href="#">контакты</a>
                        </li>
                        <li>
                            <a href="#">напишите нам</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__phone">
                    <a href="tel:+7 978 913-22-11">+7 978 913-22-11</a>
                    <a href="tel:(8 365) 267-13-77">(8 365) 267-13-77</a>
                    <p>отдел продаж</p>
                </div>
            </div>

            <div class="footer__col2">
                <ul class="footer__menu">
                    <li>
                        <a href="#">Часто задаваемые вопросы</a>
                    </li>
                    <li>
                        <a href="#">оптовым клиентам</a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                    <li>
                        <a href="#">Ингредиенты</a>
                    </li>
                </ul>

                <ul class="footer__menu">
                    <li>
                        <a href="#">Акции</a>
                    </li>
                    <li>
                        <a href="#">Для лица</a>
                    </li>
                    <li>
                        <a href="#">Для тела</a>
                    </li>
                    <li>
                        <a href="#">Для волос</a>
                    </li>
                    <li>
                        <a href="#">Линейки</a>
                    </li>
                    <li>
                        <a href="#">Наши бренды</a>
                    </li>
                    <li>
                        <a href="#">Крымское мыло</a>
                    </li>
                    <li>
                        <a href="#">Сакская грязь</a>
                    </li>
                    <li>
                        <a href="#">Подарочные наборы</a>
                    </li>
                </ul>
            </div>


            <div class="footer__col3">
                <div class="footer__mail">
                    <div class="footer__mail--icon"></div>

                    <p>Подпишитесь на нашу рассылку, чтобы первыми узнавать об акциях и предложениях.</p>

                    <form>
                        <div class="footer__mail--form">
                            <input type="mail" name="mail" placeholder="Введите ваш email">
                            <button class="btn btn-yellow" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div>

                <div class="footer__soc">
                    <p>будьте с нами на связи в социальных сетях</p>
                    <ul class="footer__soc--menu">
                        <li>
                            <a href="#" class="icon-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-vk"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-inst"></a>
                        </li>
                    </ul>
                </div>

                <div class="footer__card">
                    <ul class="footer__card--list">
                        <li>
                            <img src="static/img/content/card1.png" alt="">
                        </li>
                        <li>
                            <img src="static/img/content/card2.png" alt="">
                        </li>
                        <li>
                            <img src="static/img/content/card3.png" alt="">
                        </li>
                        <li>
                            <img src="static/img/content/card4.png" alt="">
                        </li>
                    </ul>

                    <p>© ООО «Мануфактура ДОМ ПРИРОДЫ», 2019</p>
                </div>
            </div>
        </div>
    </div>
</footer>
