.product-block {
    position: relative;
    height: auto;
    min-height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;

    &:after {
        @include before;
        height: calc(100% - 70px);
        width: 1430px;
        position: absolute;
        @include center;
        border: 1px solid $border-color;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: calc(30% + (1920px - 1600px) / 2);

        img {
            @include full;
            @include img-full;
            @include pos-absolute;
        }
    }

    .about__text {
        h2 {
            color: $light-brown;
            letter-spacing: 0;
        }
    }
}
