{{> header/header-aut}}

<div>
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html" class="icon-house"></a>
                </li>
                <li>
                    <a href="about.html">О нас</a>
                </li>
                <li>Производство</li>
            </ul>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="main-title">
                <h2>производство</h2>
            </div>
        </div>

        <div class="about__block light-gray-bg">
            <div class="about__block--image">
                <img src="static/img/content/production/img2.jpg" alt="">
            </div>

            <div class="container">
                <div class="d-flex justify-content-end about__block--wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Философия и ценности нашей компании</h2>
                        <p>Коллектив «Мануфактура ДОМ ПРИРОДЫ» это сплоченная команда единомышленников и высококлассных
                            специалистов. Каждый из нас разделяет философию и ценности компании. Мы преданы своей
                            работе, искренне заинтересованы в результате и процветании общего дела.</p>

                        <p>Всё, что мы делаем, основывается на простых, но важных принципах: натуральность,
                            эффективность, безопасность, экологичность, сознательность и честность со своими
                            клиентами.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-block">
            <div class="product-block__image">
                <img src="static/img/content/production/img1.jpg" alt="">
            </div>
            <div class="container">
                <div class="row product-block__wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Натуральноcть и безопасность</h2>
                        <p>Мы создаем натуральную и безопасную для здоровья косметику — это результат тщательной
                            проработки каждого этапа изготовления продукта. У нас чистые составы без вредных веществ. В
                            средствах для очищения кожи мы используем мягкие поверхностно-активные вещества (ПАВ). В
                            основе наших рецептур сырье, выращенное или изготовленное в Крыму. Мы знаем происхождение
                            каждого ингредиента и уверены в его качестве.</p>
                        <p>Используем консерванты только в рецептурах на водной основе и в минимальном количестве. Они
                            нужны для защиты и сохранения продукта. Мы применяем безопасные консерванты, разрешенные
                            международными стандартами натуральной косметики ECOCERT.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__block light-gray-bg">
            <div class="about__block--image">
                <img src="static/img/content/production/img3.jpg" alt="">
            </div>

            <div class="container">
                <div class="d-flex justify-content-end about__block--wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Философия и ценности нашей компании</h2>
                        <p>Коллектив «Мануфактура ДОМ ПРИРОДЫ» это сплоченная команда единомышленников и высококлассных
                            специалистов. Каждый из нас разделяет философию и ценности компании. Мы преданы своей
                            работе, искренне заинтересованы в результате и процветании общего дела.</p>

                        <p>Всё, что мы делаем, основывается на простых, но важных принципах: натуральность,
                            эффективность, безопасность, экологичность, сознательность и честность со своими
                            клиентами.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-block">
            <div class="product-block__image">
                <img src="static/img/content/production/img5.jpg" alt="">
            </div>
            <div class="container">
                <div class="row product-block__wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Натуральноcть и безопасность</h2>
                        <p>Мы создаем натуральную и безопасную для здоровья косметику — это результат тщательной
                            проработки каждого этапа изготовления продукта. У нас чистые составы без вредных веществ. В
                            средствах для очищения кожи мы используем мягкие поверхностно-активные вещества (ПАВ). В
                            основе наших рецептур сырье, выращенное или изготовленное в Крыму. Мы знаем происхождение
                            каждого ингредиента и уверены в его качестве.</p>
                        <p>Используем консерванты только в рецептурах на водной основе и в минимальном количестве. Они
                            нужны для защиты и сохранения продукта. Мы применяем безопасные консерванты, разрешенные
                            международными стандартами натуральной косметики ECOCERT.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__block light-gray-bg">
            <div class="about__block--image">
                <img src="static/img/content/production/img8.jpg" alt="">
            </div>

            <div class="container">
                <div class="d-flex justify-content-end about__block--wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Философия и ценности нашей компании</h2>
                        <p>Коллектив «Мануфактура ДОМ ПРИРОДЫ» это сплоченная команда единомышленников и высококлассных
                            специалистов. Каждый из нас разделяет философию и ценности компании. Мы преданы своей
                            работе, искренне заинтересованы в результате и процветании общего дела.</p>

                        <p>Всё, что мы делаем, основывается на простых, но важных принципах: натуральность,
                            эффективность, безопасность, экологичность, сознательность и честность со своими
                            клиентами.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-block">
            <div class="product-block__image">
                <img src="static/img/content/production/img4.jpg" alt="">
            </div>
            <div class="container">
                <div class="row product-block__wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Натуральноcть и безопасность</h2>
                        <p>Мы создаем натуральную и безопасную для здоровья косметику — это результат тщательной
                            проработки каждого этапа изготовления продукта. У нас чистые составы без вредных веществ. В
                            средствах для очищения кожи мы используем мягкие поверхностно-активные вещества (ПАВ). В
                            основе наших рецептур сырье, выращенное или изготовленное в Крыму. Мы знаем происхождение
                            каждого ингредиента и уверены в его качестве.</p>
                        <p>Используем консерванты только в рецептурах на водной основе и в минимальном количестве. Они
                            нужны для защиты и сохранения продукта. Мы применяем безопасные консерванты, разрешенные
                            международными стандартами натуральной косметики ECOCERT.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__block light-gray-bg">
            <div class="about__block--image">
                <img src="static/img/content/production/img7.jpg" alt="">
            </div>

            <div class="container">
                <div class="d-flex justify-content-end about__block--wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Философия и ценности нашей компании</h2>
                        <p>Коллектив «Мануфактура ДОМ ПРИРОДЫ» это сплоченная команда единомышленников и высококлассных
                            специалистов. Каждый из нас разделяет философию и ценности компании. Мы преданы своей
                            работе, искренне заинтересованы в результате и процветании общего дела.</p>

                        <p>Всё, что мы делаем, основывается на простых, но важных принципах: натуральность,
                            эффективность, безопасность, экологичность, сознательность и честность со своими
                            клиентами.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-block">
            <div class="product-block__image">
                <img src="static/img/content/production/img6.jpg" alt="">
            </div>
            <div class="container">
                <div class="row product-block__wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Натуральноcть и безопасность</h2>
                        <p>Мы создаем натуральную и безопасную для здоровья косметику — это результат тщательной
                            проработки каждого этапа изготовления продукта. У нас чистые составы без вредных веществ. В
                            средствах для очищения кожи мы используем мягкие поверхностно-активные вещества (ПАВ). В
                            основе наших рецептур сырье, выращенное или изготовленное в Крыму. Мы знаем происхождение
                            каждого ингредиента и уверены в его качестве.</p>
                        <p>Используем консерванты только в рецептурах на водной основе и в минимальном количестве. Они
                            нужны для защиты и сохранения продукта. Мы применяем безопасные консерванты, разрешенные
                            международными стандартами натуральной косметики ECOCERT.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
