.main-recommended {
    padding-top: 20px;
    padding-bottom: 40px;

    &__wrap {
        margin-bottom: 25px;
        min-height: 508px;
    }
    &__image {
        align-self: stretch;
        overflow: hidden;
        position: relative;

        img {
            @include full;
            @include img-full;
            @include pos-absolute;
        }
    }
    &__content {
        align-self: stretch;
        background-color: $yellow-color;
        padding: 55px 50px 25px 90px;

        .rating {
            margin-bottom: 20px;
        }

         p {
             color: $text-color;
             font-size: 15px;
             font-weight: 400;
             line-height: 24px;
             margin-bottom: 0;
             display: inline-block;
             overflow: hidden;
             text-overflow: ellipsis;
             display: -webkit-box;
             -webkit-line-clamp: 1;
             -webkit-box-orient: vertical;
         }

        .link-more {
            color: $text-color;
            &:hover {
                color: $white-color;
            }
        }
    }
}

.blogger {
    &-image {
        width: 186px;
        height: 186px;
        position: relative;
        margin-bottom: 13px;

        img {
            @include full;
            border-radius: 50%;
            @include img-full;
            @include pos-absolute;
        }

        &__link {
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 2;
            right: 16px;
            bottom: -5px;
            transition: all 0.25s;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &-name {
        font-size: 25px;
        font-weight: 700;
        line-height: 40px;
        color: $white-color;
    }
    &-product {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 8px;
        color: $text-color;
    }
}

.rating {
    @include nl;
    display: flex;
    align-self: center;
    li {
        display: block;
        flex-shrink: 0;
        margin-right: 4px;
        width: 23px;
        height: 23px;
        &:last-child {
            margin-right: 0;
        }
    }
}
