<div class="main-recommended">
    <div class="container">
        <div class="main-title white-title">
            <h2>блогеры рекомендуют</h2>
        </div>

        <div class="d-flex main-recommended__wrap">
            <div class="col-lg-5 p-0 main-recommended__image">
                <img src="static/img/content/main-recommended.png" alt="">
            </div>

            <div class="col-lg-7 main-recommended__content">
                <div class="blogger-image">
                    <img src="static/img/content/blogger.png" alt="">
                    <a href="#" class="blogger-image__link icon-inst"></a>
                </div>
                <div class="blogger-name">Наташа Reed #NaReed</div>
                <div class="blogger-product">Грязевой крем, который
                    не сушит</div>
                <ul class="rating">
                    <li class="star-full"></li>
                    <li class="star-full"></li>
                    <li class="star-full"></li>
                    <li class="star-half"></li>
                    <li class="star-empty"></li>
                </ul>
                <p>Однажды мне попался в руки крем от Мануфактуры Дом природы... </p>
                <a href="#" class="link-more">Читать далее</a>
            </div>
        </div>

        <a href="#" class="link">Читать все отзывы</a>
    </div>
</div>
