.about {
    &__banner {
        position: relative;
        height: 335px;
        overflow: hidden;
        margin-bottom: 40px;

        &--image {
            @include full;
            @include img-full;
            @include pos-absolute;
        }

        &--logo {
            width: 251px;
            height: 251px;
            @include pos-absolute;
            @include center;

            img {
                width: 100%;
            }
        }
    }

    &__text {
        margin-bottom: 50px;

        h2 {
            text-transform: uppercase;
            margin-bottom: 23px;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 1.5px;
            line-height: 40px;
        }

        p {
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.23px;
            line-height: 24px;
            color: $black-color2;
        }
    }

    &__block {
        height: auto;
        min-height: 515px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
        $f: &;

        &.block-right {
            #{$f}--image {
                left: auto;
                right: 0;
            }
        }

        &--image {
            position: absolute;
            top: 0;
            height: 100%;
            width: calc(50vw - 126px);

            img {
                @include full;
                @include img-full;
                @include pos-absolute;
            }
        }

        &--wrap {
            align-items: center;
        }

        &--content {
            padding: 0 !important;
            margin-bottom: 0;

            p:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__image-block {
        position: relative;
        height: 520px;
        margin-bottom: 45px;
        img {
            position: absolute;
            width: 100%;
            height: 430px;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        &--logo {
            height: 186px;
            width: 186px;
            position: absolute;
            z-index: 3;
            right: 0;
            bottom: 55px;
            img {
                height: 100%;
                width: 100%;
            }
        }

        .container {
            position: relative;
            height: 100%;
        }

        &:after {
            @include before;
            width: 100%;
            height: 125px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            background-color: $yellow-color;
        }

        &--content {
            top: 0;
            bottom: 0;
            left: 110px;
            margin: auto;
            position: absolute;
            background-color: $white-color;
            width: 650px;
            padding: 60px 80px 65px 60px;
            z-index: 3;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            height: max-content;
            margin-bottom: auto;

            h2 {
                color: $light-brown;
                margin-bottom: 10px;
            }

            p:last-child {
                margin-bottom: 0;
            }

            &:after {
                @include before;
                width: calc(100% - 44px);
                height: calc(100% - 44px);
                position: absolute;
                top: 22px;
                left: 22px;
                border: 1px solid $light-brown;
            }
        }
    }

    &__info {
        &.info1 {
            .container {
                padding: 50px 0;
                border-top: 1px solid $light-brown;
            }
        }

        &.info3 {
            img {
                width: 90%;
            }
        }

        h2 {
            color: $light-brown;
            margin-bottom: 10px;
            letter-spacing: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

    }
}
