{{> header/header-aut}}

<div>
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html" class="icon-house"></a>
                </li>
                <li>О нас</li>
            </ul>
        </div>
    </div>

    <div class="about">
        <div class="container">
            <div class="main-title">
                <h2>О нас</h2>
            </div>

            <div class="about__banner">
                <img src="static/img/content/about-banner.jpg" alt="" class="about__banner--image">
                <div class="about__banner--logo">
                    <img src="static/img/general/logo.png" alt="">
                </div>
            </div>
            <div class="about__text text-center">
                <h2>«Мануфактура дом природы» —<br>
                    история настоящей любви</h2>
                <p>История компании началась в 2008 году с создания первой традиционной мыловарни в Крыму — мы хотели
                    готовить безопасное и полезное мыло для себя и своих близких. Постепенно процесс мыловарения
                    настолько нас захватил, что появились единомышленники, были созданы разные сорта мыла, а первыми
                    клиентами стали родные и друзья, а затем и друзья друзей. Постепенно маленькая частная мыловарня
                    превратилась
                    в крупнейшее крымское предприятие по производству натуральной косметики.</p>
                <p>Основной идеей нашего предприятия стало использование даров крымской природы: трав, масел,
                    экстрактов, соков, лечебной грязи, глины, морской соли, водорослей. Мы гордимся нашими оригинальными
                    продуктами, которые стали популярны далеко за пределами полуострова, и самым широким выбором
                    натурального мыла. Ассортимент нашей продукции насчитывает более 1000 наименований.</p>
            </div>
        </div>

        <div class="about__block light-blown2-bg">
            <div class="about__block--image">
                <img src="static/img/content/about/block1.png" alt="">
            </div>

            <div class="container">
                <div class="d-flex justify-content-end about__block--wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>Философия и ценности нашей компании</h2>
                        <p>Коллектив «Мануфактура ДОМ ПРИРОДЫ» это сплоченная команда единомышленников и высококлассных
                            специалистов. Каждый из нас разделяет философию и ценности компании. Мы преданы своей
                            работе, искренне заинтересованы в результате и процветании общего дела.</p>

                        <p>Всё, что мы делаем, основывается на простых, но важных принципах: натуральность,
                            эффективность, безопасность, экологичность, сознательность и честность со своими
                            клиентами.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="brand-values">
            <div class="container">
                <div class="main-title">
                    <h2>ценности бренда</h2>
                </div>

                <div class="d-flex brand-values__wrap">
                    <div class="brand-values__item item1">
                        <div class="brand-values__image">
                            <img src="static/img/content/val1.png" alt="">
                        </div>
                        <h3>100%
                            натурально</h3>
                        <p>Мы делаем нашу без парабенов, сульфатов, минеральных масел, силиконов и PEG</p>
                    </div>

                    <div class="brand-values__item item2">
                        <div class="brand-values__image">
                            <img src="static/img/content/val2.png" alt="">
                        </div>
                        <h3>Эффективно
                            и безопасно</h3>
                        <p>Мы делаем нашу косметику в первую очередь для себя. Поэтому предпочитаем высококачественные</p>
                    </div>

                    <div class="brand-values__item item3">
                        <div class="brand-values__image">
                            <img src="static/img/content/val3.png" alt="">
                        </div>
                        <h3>сделано
                            в крыму</h3>
                        <p>Мы делаем нашу косметику в первую очередь для себя. Поэтому предпочитаем высококачественные</p>
                    </div>

                    <div class="brand-values__item item4">
                        <div class="brand-values__image">
                            <img src="static/img/content/val4.png" alt="">
                        </div>
                        <h3>не тестируем
                            на животных</h3>
                        <p>Мы делаем нашу косметику в первую очередь для себя. Поэтому предпочитаем высококачественные</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__info info1">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5">
                        <img src="static/img/content/about/about1.png" alt="" class="w-100">
                    </div>

                    <div class="col-lg-6 about__text mb-0">
                        <h2>Натуральноcть и безопасность</h2>
                        <p>Мы создаем натуральную и безопасную для здоровья косметику — это результат тщательной
                            проработки каждого этапа изготовления продукта. У нас чистые составы без вредных веществ. В
                            средствах для очищения кожи мы используем мягкие поверхностно-активные вещества (ПАВ). В
                            основе наших рецептур сырье, выращенное или изготовленное в Крыму. Мы знаем происхождение
                            каждого ингредиента и уверены в его качестве.</p>
                        <p>Используем консерванты только в рецептурах на водной основе и в минимальном количестве. Они
                            нужны для защиты и сохранения продукта. Мы применяем безопасные консерванты, разрешенные
                            международными стандартами натуральной косметики ECOCERT.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__image-block">
            <img src="static/img/content/about/about2.png" alt="">

            <div class="container">
                <!--<div class="about__image-block--logo">
                    <img src="static/img/general/logo.png" alt="logo">
                </div>-->

                <div class="about__text about__image-block--content">
                    <h2>Открытость<br>
                        и честность </h2>
                    <p>Отношения между сотрудниками компании и общение
                        с клиентами строятся на доверии, открытости
                        и справедливости. При описании продукта даем полную информацию о нем. В составах указываем все
                        компоненты.</p>

                    <p>Мы прислушиваемся к мнению покупателей, учитываем их потребности при разработке новых
                        средств.</p>
                </div>
            </div>
        </div>

        <div class="about__info info2 mb-2">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 about__text mb-0 text-right">
                        <h2>Ближе к природе </h2>
                        <p>Наши рецептуры разрабатываются с акцентом на полезные свойства
                            крымских растений. Мы используем натуральные растительные ингредиенты
                            (за исключением продуктов пчеловодства), потому что это родственные для кожи вещества.
                            Человечество тысячелетиями развивалось вместе с природой, полагаясь на растения, которые
                            научились выживать в суровых погодных условиях.</p>

                        <p>Наша кожа подвергается аналогичным испытаниям — сухость, сырость, палящее солнце,
                            холод. И
                            сама природа дарует то, что помогает нам быть красивыми и здоровыми. Кожа человека
                            распознает активные растительные компоненты, потому что они, как и сама кожа, имеют
                            природное происхождение. Вот почему растительная молекула, живая и натуральная, естественно
                            принимается и усваивается кожей.</p>
                    </div>

                    <div class="col-lg-5">
                        <img src="static/img/content/about/about3.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>

        <div class="about__info info3">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <img src="static/img/content/about/about4.png" alt="">
                    </div>

                    <div class="col-lg-6 about__text mb-0 ">
                        <h2>Детали имеют значение</h2>
                        <p>Мы стремимся к тому, чтобы нашей косметикой было удобно пользоваться, и чтобы сам процесс
                            приносил удовольствие. В наши скрабы, мыло и бельди мы добавляем фруктовые соки и джемы,
                            кусочки ягод и фруктов, лепестки роз, молотые душистые травы. Эти компоненты делают
                            косметику полезной, а процедуру очищения кожи вдвойне приятной.</p>

                        <p>Уделяя большое внимание внешнему облику продукта, мы выбираем удобную и простую в
                            использовании тару. Наша команда трудится над созданием красивой и функциональной
                            упаковки.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="about__block block-right light-blown2-bg">
            <div class="about__block--image">
                <img src="static/img/content/about/block2.png" alt="">
            </div>

            <div class="container">
                <div class="d-flex about__block--wrap">
                    <div class="col-lg-6 about__text about__block--content">
                        <h2>производство: исследования и инновации</h2>
                        <p>Коллектив «Мануфактура ДОМ ПРИРОДЫ» это сплоченная команда единомышленников и высококлассных
                            специалистов. Каждый из нас разделяет философию и ценности компании. Мы преданы своей
                            работе, искренне заинтересованы в результате и процветании общего дела.</p>

                        <p>Всё, что мы делаем, основывается на простых, но важных принципах: натуральность,
                            эффективность, безопасность, экологичность, сознательность и честность со своими
                            клиентами.</p>

                        <a href="#" class="btn btn-yellow">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-blog bg-gray">
    <div class="container">
        <div class="main-title gray-title">
            <h2>наш блог</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="main-blog__slider">
                    <div class="main-title white-title">
                        <h2>жизнь компании</h2>
                    </div>

                    <div class="main-blog__slider-wrap">
                        <div class="swiper-container main-blog-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="main-blog__slide">
                                        <h2>чистый лес для наших детей</h2>
                                        <div class="main-blog__slide--image">
                                            <img src="static/img/content/blog-img.jpg" alt="">
                                        </div>
                                        <div class="main-blog__slide--content">
                                            <p>Не следует, однако забывать, что сложившаяся структура организации в
                                                значительной степени обуславливает... </p>
                                            <a href="#">Читать далее</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="main-blog__slide">
                                        <h2>чистый лес для наших детей</h2>
                                        <div class="main-blog__slide--image">
                                            <img src="static/img/content/blog-img.jpg" alt="">
                                        </div>
                                        <div class="main-blog__slide--content">
                                            <p>Не следует, однако забывать, что сложившаяся структура организации в
                                                значительной степени обуславливает... </p>
                                            <a href="#">Читать далее</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="main-blog__slide">
                                        <h2>чистый лес для наших детей</h2>
                                        <div class="main-blog__slide--image">
                                            <img src="static/img/content/blog-img.jpg" alt="">
                                        </div>
                                        <div class="main-blog__slide--content">
                                            <p>Не следует, однако забывать, что сложившаяся структура организации в
                                                значительной степени обуславливает... </p>
                                            <a href="#">Читать далее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination main-blog-pagination"></div>
                        <div class="swiper-button-prev main-blog-prev"></div>
                        <div class="swiper-button-next main-blog-next"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="main-blog__item">
                            <div class="main-blog__item--header">
                                <h4>мы в соцсетях</h4>
                            </div>
                            <div class="main-blog__item--body">
                                <div class="main-blog__item--image">
                                    <img src="static/img/content/blog-img1.png" alt="">
                                </div>

                                <ul class="main-blog__soc">
                                    <li>
                                        <a href="#" class="icon-facebook-big"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-vk-big"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-inst-big"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="main-blog__item">
                            <div class="main-blog__item--header">
                                <h4>мероприятия<br>
                                    и выставки</h4>
                            </div>
                            <div class="main-blog__item--body">
                                <div class="main-blog__item--image">
                                    <img src="static/img/content/blog-img2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="main-blog__news">
                            <h4>новости</h4>

                            <div class="main-blog__news--item">
                                <div class="main-blog__news--title">
                                    <time datetime="2019-06-12">06.12.2019</time>
                                    <a href="#">Новая косметическая
                                        линейка
                                        уже в
                                        магазинах!</a>
                                </div>
                                <p>Не следует, однако забывать, что сложившаяся структура организации в значительной
                                    степени обуславливает создание систем массового участия. Задача организации, в
                                    особенности же укрепление и развитие ... <a href="news.html" title="">Читать
                                        далее</a></p>
                            </div>

                            <div class="main-blog__news--item">
                                <div class="main-blog__news--title">
                                    <time datetime="2019-06-12">06.12.2019</time>
                                    <a href="#">Новая косметическая линейка уже в
                                        магазинах!</a>
                                </div>
                                <p>Не следует, однако забывать, что сложившаяся структура организации в значительной
                                    степени обуславливает создание систем массового участия. Задача организации, в
                                    особенности же укрепление и развитие структуры обеспечивает...
                                    <a href="news.html" title="">Читать далее</a></p>
                            </div>

                            <a href="news-list.html" class="link">Читать все новости</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
