{{> header/header-aut}}

<div>
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html" class="icon-house"></a>
                </li>
                <li>
                    <a href="about.html">О нас</a>
                </li>
                <li>Новости</li>
            </ul>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="main-title">
                <h2>новости</h2>
            </div>

            <div class="form-subscription">
                <h4>Подпишитесь на нашу рассылку, чтобы первыми узнавать наши новости!</h4>
                <form>
                    <div class="form-subscription__wrap">
                        <input type="email" name="email" placeholder="Введите ваш e-mail" value="">
                        <button type="submit" class="btn btn-sub">подписаться</button>
                    </div>
                </form>
            </div>

            <div class="company-article news-item">
                <div class="company-article__image">
                    <img src="static/img/content/company/news1.png" alt="">
                </div>
                <div class="news-item__content">
                    <div class="company-article__content">
                        <h2>чистый лес для наших детей</h2>
                        <time>21.12.2019</time>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>

                        <div class="company-article__more">Развернуть</div>
                    </div>
                </div>
            </div>

            <div class="company-article news-item">
                <div class="company-article__image">
                    <img src="static/img/content/company/news2.png" alt="">
                </div>
                <div class="news-item__content">
                    <div class="company-article__content">
                        <h2>чистый лес для наших детей</h2>
                        <time>21.12.2019</time>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>

                        <div class="company-article__more">Развернуть</div>
                    </div>
                </div>
            </div>

            <div class="company-article news-item">
                <div class="company-article__image">
                    <img src="static/img/content/company/news3.png" alt="">
                </div>

                <div class="news-item__content">
                    <div class="company-article__content">
                        <h2>чистый лес для наших детей</h2>
                        <time>21.12.2019</time>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>

                        <div class="company-article__more">Развернуть</div>
                    </div>
                </div>
            </div>

            <div class="company-article news-item">
                <div class="company-article__image">
                    <img src="static/img/content/company/news1.png" alt="">
                </div>

                <div class="news-item__content">
                    <div class="company-article__content">
                        <h2>чистый лес для наших детей</h2>
                        <time>21.12.2019</time>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>

                        <div class="company-article__more">Развернуть</div>
                    </div>
                </div>
            </div>

            <div class="company-article news-item">
                <div class="company-article__image">
                    <img src="static/img/content/company/news3.png" alt="">
                </div>

                <div class="news-item__content">
                    <div class="company-article__content">
                        <h2>чистый лес для наших детей</h2>
                        <time>21.12.2019</time>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>
                        <p>Равным образом начало повседневной работы по формированию позиции позволяет оценить значение
                            системы обучения кадров, соответствует насущным потребностям. Таким образом укрепление и
                            развитие структуры требуют от нас анализа новых предложений. Таким образом рамки и место
                            обучения кадров способствует подготовки и реализации систем массового участия. С другой
                            стороны
                            новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие
                            в
                            формировании дальнейших. Равным образом начало повседневной работы по формированию позиции
                            позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
                        <p>Таким образом укрепление и развитие структуры требуют от нас анализа новых предложений. Таким
                            образом рамки и место обучения кадров способствует подготовки и реализации систем массового
                            участия. С другой стороны новая модель организационной деятельности обеспечивает широкому
                            кругу
                            (специалистов) участие в формировании дальнейших.</p>

                        <div class="company-article__more">Развернуть</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
