.form-subscription {
    padding: 38px 0 48px;
    text-align: center;
    background-color: $yellow-color;

    h4 {
        font-size: 25px;
        line-height: 37px;
        margin-bottom: 10px;
        font-weight: bold;
        letter-spacing: 0;
        text-transform: none;
        color: $black-color2;
    }

    &__wrap {
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        input {
            display: block;
            flex-grow: 1;
            height: 49px;
            border: none;
            font-size: 17px;
            line-height: 29px;
            padding: 10px 20px;
            color: $black-color2;
            &::placeholder {
                color: $gray-color;
            }
            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }
        }
        button {
            flex-shrink: 0;
            margin-left: 15px;
        }
    }
}

.btn-sub {
    width: 319px;
    height: 49px;
    background-color: $dark-gray;
    position: relative;
    color: $white-color;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 29px;
    padding: 10px 30px 10px 80px;
    transition: all 0.25s;
    &:before {
        @include before;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 33px;
        height: 25px;
        width: 33px;
        @include bg-svg($icon-message-white);
    }

    &:hover {
        color: $yellow-color;
    }
}

.news-item {
    border-bottom: 1px solid $white-color;
    margin-bottom: 0;
    border-bottom: none;
    background-color: $yellow-color;
    padding-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .company-article__image {
        margin-bottom: 0;
    }

    .company-article__more {
        color: $white-color;
        background: linear-gradient(180deg, rgba(255, 195, 19, 0.7) 10%, rgba(255, 195, 19, 1) 80%);

        &:after {
            @include bg-svg($arrow-more-down-white);
        }
    }

    &__content {
        padding-top: 25px;
        border-bottom: 1px solid $white-color;

        h2 {
            color: $white-color;
        }
    }
}
