.header {
    padding: 25px 0;
    background-color: $white-color;

    &__top {
        align-items: center;

        .switch {
            margin-right: 0;
            margin-left: 25px;
            @media screen and (max-width: 1320px) {
                margin-left: 15px;
            }
        }
    }

    &__search {
        position: relative;
        margin: 0 auto;
        width: 44px;
        flex-shrink: 0;
        padding: 5px;
        $f: &;

        &--icon {
            display: block;
            cursor: pointer;
            transition: all 0.4s;

            .icon-search {
                display: block;
                transition: all 0.25s;
                width: 34px;
                height: 34px;
            }
        }

        &:hover {
            #{$f}--icon {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            }

            .icon-search {
                transform: scale(0.5);
            }

            #{$f}--form {
                opacity: 1;
                visibility: visible;
            }
        }

        &--form {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 39px;
            transition: all 0.3s;
            z-index: 3;
            background-color: $white-color;
            width: 360px;
            left: -158px;

            &:hover {
                opacity: 1;
                visibility: visible;
            }

            input {
                width: 100%;
                border: 1px solid $white-color;
                padding: 15px 15px;
                @extend %text18;
                color: $text-color;

                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                    border-color: $yellow-color;
                }
            }
        }
    }

    &__menu {
        @include nl;
        display: flex;
        align-self: center;

        li {
            flex-shrink: 0;
            margin-right: 28px;
            position: relative;
            @media screen and (max-width: 1320px) {
                margin-right: 10px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            display: block;
            color: $input-gray;
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;
            text-decoration: none;
            transition: all 0.25s;
            @media screen and (max-width: 1320px) {
                font-size: 16px;
                letter-spacing: -0.3px;
            }

            &:hover {
                text-decoration: none;
                color: $yellow-color;
            }

            &.has-child {
                padding-right: 25px;
                position: relative;

                &:after {
                    @include before;
                    position: absolute;
                    right: 0;
                    top: 1px;
                    bottom: 0;
                    margin: auto;
                    width: 12px;
                    height: 8px;
                    @include bg-svg($icon-gray-arrow);
                }

                &:hover + .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .icon-home {
            transition: all 0s;
            width: 20px;
            height: 19px;
            margin-top: -1px;
        }

        .position {
            color: $yellow-color;
            position: relative;
            display: flex;
            align-items: center;

            &:before {
                flex-shrink: 0;
                @include before;
                width: 22px;
                height: 22px;
                @include bg-svg($icon-local);
            }
        }
    }

    .sub-menu {
        opacity: 0;
        visibility: hidden;
        @include nl;
        padding: 15px 10px;
        position: absolute;
        top: 20px;
        left: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        width: max-content;
        background-color: $white-color;
        z-index: 3;
        transition: all 0.25s;

        &:hover {
            opacity: 1;
            visibility: visible;
        }

        li {
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            display: block;
            color: $input-gray;
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;
            text-decoration: none;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $yellow-color;
            }
        }
    }

    &__link {
        display: block;
        color: $input-gray;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.25s;
        @media screen and (max-width: 1320px) {
            font-size: 16px;
        }

        &:hover {
            text-decoration: none;
            color: $yellow-color;
        }
    }

    &__lk {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        transition: all 0.25s;
        color: $input-gray;

        &:hover {
            text-decoration: none;
            color: $yellow-color;
        }

        &--ava {
            border-radius: 50%;
            height: 46px;
            width: 46px;
            position: relative;
            border: 1px solid $light-brown;
            overflow: hidden;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 10px;

            &:after {
                @include before;
                display: block;
                height: 44px;
                width: 44px;
                border-radius: 50%;
                border: 3px solid $white-color;
                position: absolute;
                top: 0;
                left: 0;
            }

            img {
                border-radius: 50%;
                width: 38px;
                height: 38px;
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    &__main {
        align-items: center;
        margin-top: 20px;

        &--text {
            color: $light-brown;
            max-width: 428px;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.5px;
            line-height: 25px;

            b {
                font-weight: 600;
            }
        }
    }

    &__logo {
        display: block;
        margin-right: 27px;
        flex-shrink: 0;
        width: 210px;
        height: 210px;

        img {
            width: 100%;
        }
    }

    &__main--block {
        margin-right: 0;
        margin-left: auto;
        width: 450px;
        flex-shrink: 0;
    }

    &__basket {
        margin-right: 0;
        margin-left: auto;
        align-items: center;

        &--link {
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }

        &--count {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .count {
                width: max-content;
                min-width: 24px;
                height: 24px;
                border-radius: 12px;
                background-color: $red-color;
                color: $white-color;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 1.5px;
                text-align: center;
                padding: 0 8px;
                margin-bottom: -8px;
                margin-right: 15px;

                &.empty {
                    padding: 0 6px;
                    background-color: $gray-color;
                }
            }

            .icon-basket {
                width: 42px;
                height: 34px;
            }
        }

        &--sum {
            color: $yellow-color;
            margin-right: 14px;
            flex-shrink: 0;

            p {
                margin-bottom: 0;
                @extend %text14;
                color: $yellow-color;
            }

            .sum {
                line-height: 30px;
                color: $yellow-color;
                font-size: 25px;
                font-weight: 700;
            }
        }

        .btn {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            background-color: $yellow-color;
            padding: 8px 40px;
            @extend %text18;
            color: $white-color;
            text-transform: uppercase;
            text-align: left;
            font-weight: 600;

            &:hover {
                background-color: $black-color;
            }
        }
    }
}

.nav {
    background-color: $light-brown2;

    &__wrap {
        width: 100%;
        margin: auto;
        max-width: 1600px;
        padding: 16px 15px;
    }

    &__menu {
        @include nl;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            display: block;
            //margin-right: 26px;
            @media screen and (max-width: 1500px) {
                margin-right: 15px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.has-child:hover {
                .block-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        li a {
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1.17px;
            color: $text-color;
            line-height: calc(18px * 1.2);
            transition: all 0.25s;
            flex-shrink: 0;
            position: relative;

            @media screen and (max-width: 1500px) {
                font-size: 14px;
                letter-spacing: 0;
            }

            &:after {
                @include before;
                position: absolute;
                left: 0;
                bottom: -24px;
                width: 100%;
                height: 0;
                border-bottom: 5px solid $text-color;
                opacity: 0;
                visibility: hidden;
                transition: all 0.25s;
            }

            &:hover {
                text-decoration: none;

                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.nav__menu--sale {
                background-color: $yellow-color;
                text-align: center;
                text-transform: none;
                color: $white-color;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 0.6px;
                line-height: 19px;
                height: 37px;
                border-radius: 20px;
                padding: 9px 23px;

                &:after {
                    display: none !important;
                }

                @media screen and (max-width: 1600px) {
                    height: 35px;
                    padding: 8px 20px;
                    font-size: 14px;
                    letter-spacing: 0;
                }
            }
        }
    }
}

.switch {
    display: block;
    position: relative;

    &-input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    &-block {
        display: block;
        position: relative;
        width: 115px;
        height: 32px;
        background-color: $gray-color;
        border-radius: 16px;
        margin-bottom: 0;
        overflow: hidden;
    }

    &-label {
        display: block;
        width: 200%;
        height: 32px;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        z-index: 1;
        position: absolute;
        top: 0;
    }

    &-label:before,
    &-label:after {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        height: 32px;
        padding: 0;
        color: $white-color;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.45px;
        line-height: 32px;
        z-index: 2;
        width: 50%;
        text-align: center;
    }

    &-label:before {
        content: "Выйти";
        padding-right: 32px;
        left: 0;
    }

    &-label:after {
        right: 0;
        content: "Войти";
        padding-left: 32px;
    }

    &-handle {
        display: block;
        height: 32px;
        width: 32px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border: 1px solid $gray-color;
        background-color: $gray-color2;
        z-index: 3;
        transition: all 0.3s;

        &:after {
            @include before;
            height: 16px;
            width: 16px;
            @include bg-svg($icon-user);
            @include center;
            position: absolute;
        }
    }

    input:checked + .switch-block .switch-label {
        margin-left: 0;
    }

    input:checked + .switch-block {
        background-color: $green-color;
    }

    input:checked + .switch-block .switch-handle {
        transform: translate(83px, 0);
        background-color: $light-green-color;
        border-color: $green-color;
    }
}

.aut-menu {
    @include nl;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 30px;

    li {
        height: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        &:nth-child(odd) {
            width: calc(50% - 7px);
        }
        &:nth-child(even) {
            width: calc(50% + 7px);
        }
    }

    li a {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: $black-color2;
        transition: all 0.25s;

        &:hover {
            cursor: pointer;
            color: $yellow-color;
            text-decoration: none;
        }

        .icon {
            transform: scale(0.85);
            margin-right: 3px;
            width: 38px;
        }
    }
}

.block-menu {
    align-items: flex-start;
    background-color: $white-color;
    opacity: 0;
    visibility: hidden;
    z-index: 15;
    padding: 30px 0;
    width: 100%;
    position: absolute;
    right: 0;
    top: 392px;
    transition: all 0.25s;

    &:before {
        content: '';
        display: block;
        height: 20px;
        width: 100%;
        position: absolute;
        top: -20px;
        left: 0;
    }

    &:hover {
        opacity: 1;
        visibility: visible;
    }

    &__wrap {
        justify-content: space-between;
    }

    &__col {
        width: 285px;
        flex-shrink: 0;

        h6 {
            position: relative;
            font-weight: bold;
            font-size: 14px;
            line-height: 1;
            margin-bottom: 20px;
            text-transform: uppercase;

            &:after {
                content: '';
                display: block;
                width: 180px;
                height: 3px;
                background-color: $yellow-color;
                left: 0;
                position: absolute;
                bottom: -5px;
            }
        }

        ul {
            @include nl;
            margin-bottom: 25px;

            li {
                margin-bottom: 5px;
            }

            li a {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
                text-transform: uppercase;
                color: $black-color;
                transition: all 0.25s;
                letter-spacing: 0;

                &:hover {
                    color: $yellow-color;
                    text-decoration: underline;

                    &:after {
                        display: none;
                    }
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    &__link {
        display: block;
        position: relative;
        width: 205px;
        flex-shrink: 0;
        height: 350px;
        margin-right: 16px;
        overflow: hidden;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            .block-menu__link--title {
                color: $white-color;
                text-decoration: none;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 275px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        &--title {
            color: $black-color;
            background-color: $yellow-color;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            padding: 10px 16px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            height: 80px;
            letter-spacing: 0;
            transition: all 0.25s;
        }
    }
}
