<header class="header">
    <div class="container">
        <div class="d-flex header__top">
            <ul class="header__menu">
                <li>
                    <a href="#" class="icon-home"></a>
                </li>
                <li>
                    <a href="#" class="has-child">О нас</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">История компании</a>
                        </li>
                        <li>
                            <a href="#">Философия бренда</a>
                        </li>
                        <li>
                            <a href="#">Наш блог</a>
                        </li>
                        <li>
                            <a href="#">Производство</a>
                        </li>
                        <li>
                            <a href="#">Наши достижения</a>
                        </li>
                        <li>
                            <a href="#">Сертификаты</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Доставка и оплата</a>
                </li>
                <li>
                    <a href="#">Для оптовых клиентов</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="position">Симферополь</a>
                </li>
            </ul>

            <div class="header__search">
                <div class="header__search--icon">
                    <div class="icon-search"></div>
                </div>

                <div class="header__search--form">
                    <form>
                        <input type="text" placeholder="Поиск в каталоге">
                    </form>
                </div>
            </div>

            <a href="#" class="header__lk">
                <div class="header__lk--ava">
                    <img src="static/img/content/ava.png" alt="">
                </div>
                Личный кабинет
            </a>

            <div class="switch">
                <input class="switch-input" type="checkbox" id="switch-login" checked=''>
                <label for="switch-login" class="switch-block">
                    <span class="switch-label" data-on="Выйти" data-off="Войти"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
        </div>

        <div class="d-flex header__main">
            <a href="#" class="header__logo" title="logo">
                <img src="static/img/general/logo.png" alt="logo">
            </a>
            <div class="header__main--text">
                <b>«Мануфактура ДОМ ПРИРОДЫ»® —</b>
                создаём крымскую натуральную косметику с 2008 года
            </div>

            <div class="header__main--block">
                <div class="d-flex header__basket">
                    <a href="main.html" class="d-flex header__basket--link">
                        <div class="header__basket--count">
                            <div class="count">568</div>
                            <div class="icon-basket"></div>
                        </div>
                        <div class="header__basket--sum">
                            <p>В корзине подарок!</p>
                            <div class="sum">90 052 руб.</div>
                        </div>
                    </a>
                    <a href="#" class="btn">Оформить <br>заказ</a>
                </div>

                <ul class="aut-menu">
                    <li>
                        <a href="#"><div class="icon icon-eye"></div>Вы смотрели</a>
                    </li>
                    <li>
                        <a href="#"><div class="icon icon-like-full"></div>Избранное (0)</a>
                    </li>
                    <li>
                        <a href="#"><div class="icon icon-full-star"></div>Мои отзывы (0)</a>
                    </li>
                    <li>
                        <a href="#"><div class="icon icon-gift"></div>Мои подарки</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<nav class="nav">
    <div class="nav__wrap">
        <ul class="nav__menu">
            <li>
                <a href="#" class="nav__menu--sale">Акции!</a>
            </li>
            <li class="has-child">
                <a href="#">для лица</a>
                <div class="block-menu">
                    <div class="container">
                        <div class="d-flex block-menu__wrap">
                            <div class="block-menu__col">
                                <h6>продукты</h6>
                                <ul>
                                    <li><a href="#">Дневные кремы</a></li>
                                    <li><a href="#">Ночные кремы</a></li>
                                    <li><a href="#">Тоники</a></li>
                                    <li><a href="#">Скрабы и пилинги</a></li>
                                    <li><a href="#">Сыворотки</a></li>
                                    <li><a href="#">Маски</a></li>
                                    <li><a href="#">Масло</a></li>
                                    <li><a href="#">Для кожи вокруг глаз</a></li>
                                    <li><a href="#">Для губ</a></li>
                                    <li><a href="#">Для бровей и ресниц</a></li>
                                    <li><a href="#">Наборы</a></li>
                                </ul>
                            </div>
                            <div class="block-menu__col">
                                <h6>По типу ухода</h6>
                                <ul>
                                    <li><a href="#">Очищение</a></li>
                                    <li><a href="#">Увлажнение</a></li>
                                    <li><a href="#">Тонизирование</a></li>
                                    <li><a href="#">Питание</a></li>
                                    <li><a href="#">ANTI-AGE</a></li>
                                    <li><a href="#">Ночной уход</a></li>
                                    <li><a href="#">Дневной уход</a></li>
                                    <li><a href="#">Защита от солнца</a></li>
                                    <li><a href="#">Снятие макияжа</a></li>
                                </ul>
                            </div>
                            <div class="block-menu__col">
                                <h6>По типу кожи</h6>
                                <ul>
                                    <li><a href="#">Нормальная кожа</a></li>
                                    <li><a href="#">Жирная кожа</a></li>
                                    <li><a href="#">Сухая и чувствительная кожа</a></li>
                                    <li><a href="#">обезвоженная кожа</a></li>
                                    <li><a href="#">Комбинированная кожа</a></li>
                                    <li><a href="#">Проблемная кожа</a></li>
                                    <li><a href="#">Молодая кожа</a></li>
                                    <li><a href="#">Зрелая кожа</a></li>
                                </ul>

                                <h6>линейки и бренды</h6>
                                <ul>
                                    <li><a href="#">Crimean queen</a></li>
                                    <li><a href="#">medformula</a></li>
                                    <li><a href="#">крымская лаванда</a></li>
                                </ul>
                            </div>

                            <a href="#" class="block-menu__link">
                                <img src="static/img/content/link1.png" alt="">
                                <div class="block-menu__link--title">Сакская грязь для лица для лица</div>
                            </a>
                            <a href="#" class="block-menu__link">
                                <img src="static/img/content/link2.png" alt="">
                                <div class="block-menu__link--title">ANTI-AGE уход для тех, кому за 30</div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">для тела</a>
            </li>
            <li>
                <a href="#">для волос</a>
            </li>
            <li>
                <a href="#">линейки</a>
            </li>
            <li>
                <a href="#">наши бренды</a>
            </li>
            <li>
                <a href="#">крымское мыло</a>
            </li>
            <li>
                <a href="#">сакская грязь</a>
            </li>
            <li>
                <a href="#">подарочные наборы</a>
            </li>
        </ul>
    </div>
</nav>
