.main-component {
    margin-bottom: 44px;
    $f: &;

    &__slider-wrap {
        position: relative;

        .swiper-button-next {
            right: -40px;
        }

        .swiper-button-prev {
            left: -40px;
        }
    }

    &-swiper {
        margin-bottom: 24px;
    }

    &__item {
        padding: 16px;
        height: 530px;
        background-image: linear-gradient(to top, #bcbcbc 0%, rgba(255, 255, 255, 0) 70%);
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: none;
            #{$f}__title {
                text-decoration: none;
            }
            #{$f}__link {
                text-decoration: none;
                color: $black-color;
            }
        }

        &--image {
            @include pos-absolute;
            @include full;
            overflow: hidden;

            img {
                @include pos-absolute;
                @include full;
                @include img-full;
                z-index: 1;
            }
        }

        &--content {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 3;
        }
    }

    &__title {
        color: $white-color;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        padding: 0 35px 0 12px;
    }

    &__link {
        display: block;
        color: $white-color;
        padding: 10px 12px;
        background-color: $yellow-color;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 0.84px;
        position: relative;
        z-index: 2;
        transition: all 0.25s;
        text-decoration: none;
    }
}
