<div class="main-component">
    <div class="container">
        <div class="main-title">
            <h2>наши волшебные компоненты</h2>
        </div>

        <div class="main-component__slider-wrap">
            <div class="swiper-container main-component-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="catalog-type.html" class="main-component__item">
                            <div class="main-component__item--image">
                                <img src="static/img/content/comp1.png" alt="">
                            </div>

                            <div class="main-component__item--content">
                                <div class="main-component__title">крымский <br>
                                    виноград
                                </div>
                                <div class="main-component__link" >смотреть продукты
                                    с крымским виноградом</div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="catalog-type.html" class="main-component__item">
                            <div class="main-component__item--image">
                                <img src="static/img/content/comp2.png" alt="">
                            </div>

                            <div class="main-component__item--content">
                                <div class="main-component__title">оливковое <br>
                                    масло
                                </div>
                                <div class="main-component__link" title="">смотреть продукты
                                    с оливковым маслом</div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="catalog-type.html" class="main-component__item">
                            <div class="main-component__item--image">
                                <img src="static/img/content/comp3.png" alt="">
                            </div>

                            <div class="main-component__item--content">
                                <div class="main-component__title">крымский <br>
                                    можжевельник
                                </div>
                                <div class="main-component__link" title="">смотреть продукты
                                    с крымским можжевельником</div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="catalog-type.html" class="main-component__item">
                            <div class="main-component__item--image">
                                <img src="static/img/content/comp1.png" alt="">
                            </div>

                            <div class="main-component__item--content">
                                <div class="main-component__title">крымский
                                    можжевельник
                                </div>
                                <div class="main-component__link" title="">смотреть продукты
                                    с крымским можжевельником</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination main-component-pagination"></div>
            <div class="swiper-button-prev main-component-prev"></div>
            <div class="swiper-button-next main-component-next"></div>

            <a href="#" class="link">Смотреть все ингредиенты</a>
        </div>
    </div>
</div>
