<div class="hit">
    <div class="container">
        <div class="main-title mb-0">
            <h2>хиты продаж</h2>
        </div>
        <div class="hit__slider">
            <div class="swiper-container hit-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="d-flex justify-content-center hit__slide">
                            <div class="hit__slide--image">
                                <img src="static/img/content/hit.png" alt="">
                            </div>
                            <div class="text-center hit__slide--content">
                                <h3>anti-age Гоммаж для лица
                                    на основе винограда «Деликатное очищение» 50 г</h3>
                                <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и
                                    подтягивающим действием. Мощный антиоксидант ресвератрол способствует восстановлению
                                    зрелой кожи, улучшает микроциркуляцию, укрепляет стенки кровеносных сосудов.
                                    Коллаген делает кожу увлажненной, мягкой и упругой. В результате применения
                                    сыворотки контуры лица подтягиваются, морщины становятся менее заметными.</p>

                                <div class="hit__slide--price">
                                    <div><span>560</span> 448 руб.</div>
                                </div>

                                <a href="javascript:void(0)" class="btn btn-yellow mx-auto">в корзину</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex justify-content-center hit__slide">
                            <div class="hit__slide--image">
                                <img src="static/img/content/hit.png" alt="">
                            </div>
                            <div class="text-center hit__slide--content">
                                <h3>anti-age Гоммаж для лица
                                    на основе винограда «Деликатное очищение» 50 г</h3>
                                <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и
                                    подтягивающим действием. Мощный антиоксидант ресвератрол способствует восстановлению
                                    зрелой кожи, улучшает микроциркуляцию, укрепляет стенки кровеносных сосудов.
                                    Коллаген делает кожу увлажненной, мягкой и упругой. В результате применения
                                    сыворотки контуры лица подтягиваются, морщины становятся менее заметными.</p>

                                <div class="hit__slide--price">
                                    <div><span>560</span> 448 руб.</div>
                                </div>

                                <a href="javascript:void(0)" class="btn btn-yellow mx-auto">в корзину</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="d-flex justify-content-center hit__slide">
                            <div class="hit__slide--image">
                                <img src="static/img/content/hit.png" alt="">
                            </div>
                            <div class="text-center hit__slide--content">
                                <h3>anti-age Гоммаж для лица
                                    на основе винограда «Деликатное очищение» 50 г</h3>
                                <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и
                                    подтягивающим действием. Мощный антиоксидант ресвератрол способствует восстановлению
                                    зрелой кожи, улучшает микроциркуляцию, укрепляет стенки кровеносных сосудов.
                                    Коллаген делает кожу увлажненной, мягкой и упругой. В результате применения
                                    сыворотки контуры лица подтягиваются, морщины становятся менее заметными.</p>

                                <div class="hit__slide--price">
                                    <div><span>560</span> 448 руб.</div>
                                </div>

                                <a href="javascript:void(0)" class="btn btn-yellow mx-auto">в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination hit-slider-pagination"></div>

            <div class="swiper-button-prev hit-slider-prev"></div>
            <div class="swiper-button-next hit-slider-next"></div>

            <a href="#" class="link">Смотреть все хиты продаж</a>
        </div>
    </div>
</div>
