.hit {
    margin-bottom: 28px;
    &__slider {
        margin-top: -16px;
        position: relative;

        .swiper-slide {
            padding: 20px 100px;
            border: 1px solid $light-brown;
            border-top: none;
            margin-bottom: 24px;
        }

        .swiper-button-next {
            right: 56px;
        }
        .swiper-button-prev {
            left: 56px;
        }
    }

    &__slide {
        height: 100%;
        &--image {
            height: 454px;
            width: 429px;
            flex-shrink: 0;
            align-self: stretch;
            position: relative;

            img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                position: absolute;
                @include center;
            }
        }

        &--content {
            flex-grow: 1;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-size: 30px;
                line-height: 37px;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 17px;
            }

            p {
                line-height: 24px;
                font-weight: 400;
                font-size: 15px;
                margin-bottom: 17px;
            }
        }

        &--price {
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            span {
                font-size: 15px;
                color: $gray-color;
                text-decoration: line-through;
            }
        }
    }
}
