{{> header/header}}

<div class="main-banner">
    <div class="main-banner__slider-wrap">
        <div class="swiper-container main-banner__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="static/img/content/main-banner.png" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="static/img/content/main-banner.png" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="static/img/content/main-banner.png" alt="">
                </div>
            </div>
        </div>

        <div class="swiper-pagination main-banner-pagination"></div>
    </div>
</div>

{{> main/main-product/main-product}}

{{> hit/hit}}

{{> main/main-offers/main-offers}}

{{> main/main-component/main-component}}

<div class="brand-values">
    <div class="container">
        <div class="main-title">
            <h2>ценности бренда</h2>
        </div>

        <div class="d-flex brand-values__wrap">
            <div class="brand-values__item item1">
                <div class="brand-values__image">
                    <img src="static/img/content/val1.png" alt="">
                </div>
                <h3>100%
                    натурально</h3>
                <p>Мы делаем нашу без парабенов, сульфатов, минеральных масел, силиконов и PEG</p>
            </div>

            <div class="brand-values__item item2">
                <div class="brand-values__image">
                    <img src="static/img/content/val2.png" alt="">
                </div>
                <h3>Эффективно
                    и безопасно</h3>
                <p>Мы делаем нашу косметику в первую очередь для себя. Поэтому предпочитаем высококачественные</p>
            </div>

            <div class="brand-values__item item3">
                <div class="brand-values__image">
                    <img src="static/img/content/val3.png" alt="">
                </div>
                <h3>сделано
                    в крыму</h3>
                <p>Мы делаем нашу косметику в первую очередь для себя. Поэтому предпочитаем высококачественные</p>
            </div>

            <div class="brand-values__item item4">
                <div class="brand-values__image">
                    <img src="static/img/content/val4.png" alt="">
                </div>
                <h3>не тестируем
                    на животных</h3>
                <p>Мы делаем нашу косметику в первую очередь для себя. Поэтому предпочитаем высококачественные</p>
            </div>
        </div>
    </div>
</div>

<div class="banner-sale">
    <div class="container">
        <div class="banner-sale__wrap" style="background-image: url('static/img/content/banner-sale.png')">
            <div class="banner-sale__percent">-35<span>%</span></div>
            <div class="banner-sale__title">на всю <span>anti-age</span> косметику</div>
            <a href="#" class="btn btn-yellow">узнать больше</a>
        </div>
    </div>
</div>

{{> main/main-recommended/main-recommended}}

<div class="main-blog bg-gray">
    <div class="container">
        <div class="main-title gray-title">
            <h2>наш блог</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="main-blog__slider">
                    <div class="main-title white-title">
                        <a href="company-life.html"><h2>жизнь компании</h2></a>
                    </div>

                    <div class="main-blog__slider-wrap">
                        <div class="swiper-container main-blog-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="main-blog__slide">
                                        <h2>чистый лес для наших детей</h2>
                                        <div class="main-blog__slide--image">
                                            <img src="static/img/content/blog-img.jpg" alt="">
                                        </div>
                                        <div class="main-blog__slide--content">
                                            <p>Не следует, однако забывать, что сложившаяся структура организации в
                                                значительной степени обуславливает... </p>
                                            <a href="#">Читать далее</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="main-blog__slide">
                                        <h2>чистый лес для наших детей</h2>
                                        <div class="main-blog__slide--image">
                                            <img src="static/img/content/blog-img.jpg" alt="">
                                        </div>
                                        <div class="main-blog__slide--content">
                                            <p>Не следует, однако забывать, что сложившаяся структура организации в
                                                значительной степени обуславливает... </p>
                                            <a href="#">Читать далее</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="main-blog__slide">
                                        <h2>чистый лес для наших детей</h2>
                                        <div class="main-blog__slide--image">
                                            <img src="static/img/content/blog-img.jpg" alt="">
                                        </div>
                                        <div class="main-blog__slide--content">
                                            <p>Не следует, однако забывать, что сложившаяся структура организации в
                                                значительной степени обуславливает... </p>
                                            <a href="#">Читать далее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination main-blog-pagination"></div>
                        <div class="swiper-button-prev main-blog-prev"></div>
                        <div class="swiper-button-next main-blog-next"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="main-blog__item">
                            <div class="main-blog__item--header">
                                <h4>мы в соцсетях</h4>
                            </div>
                            <div class="main-blog__item--body">
                                <div class="main-blog__item--image">
                                    <img src="static/img/content/blog-img1.png" alt="">
                                </div>

                                <ul class="main-blog__soc">
                                    <li>
                                        <a href="#" class="icon-facebook-big"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-vk-big"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-inst-big"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <a href="#" class="main-blog__item">
                            <div class="main-blog__item--header">
                                <h4>мероприятия<br>
                                    и выставки</h4>
                            </div>
                            <div class="main-blog__item--body">
                                <div class="main-blog__item--image">
                                    <img src="static/img/content/blog-img2.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-12">
                        <div class="main-blog__news">
                            <h4><a href="news.html">новости</a></h4>

                            <div class="main-blog__news--item">
                                <div class="main-blog__news--title">
                                    <time datetime="2019-06-12">06.12.2019</time>
                                    <a href="#">Новая косметическая
                                        линейка
                                        уже в
                                        магазинах!</a>
                                </div>
                                <p>Не следует, однако забывать, что сложившаяся структура организации в значительной
                                    степени обуславливает создание систем массового участия. Задача организации, в
                                    особенности же укрепление и развитие ... <a href="news.html" title="">Читать
                                        далее</a></p>
                            </div>

                            <div class="main-blog__news--item">
                                <div class="main-blog__news--title">
                                    <time datetime="2019-06-12">06.12.2019</time>
                                    <a href="#">Новая косметическая линейка уже в
                                        магазинах!</a>
                                </div>
                                <p>Не следует, однако забывать, что сложившаяся структура организации в значительной
                                    степени обуславливает создание систем массового участия. Задача организации, в
                                    особенности же укрепление и развитие структуры обеспечивает...
                                    <a href="news.html" title="">Читать далее</a></p>
                            </div>

                            <a href="news-list.html" class="link">Читать все новости</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
