.main-banner {
    &__slider-wrap {
        position: relative;
        margin-bottom: 36px
    }

    &__slider {
        height: auto;
        padding-bottom: 46px;
    }

    .swiper-slide {
        position: relative;
        overflow: hidden;
        min-height: 610px;
        height: auto;
        padding-bottom: 38.3%;
        img {
            @include pos-absolute;
            @include full;
            @include img-full;
        }
    }
}

.main-blog {
    padding: 11px 0 68px;

    &__slider {
        align-self: stretch;
        background-color: $white-color;
        padding: 30px 25px 50px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        height: 100%;

        .main-title {
            margin-bottom: 45px;

            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__slider-wrap {
        position: relative;
        background-color: $white-color;

        .main-blog-prev, .main-blog-next {
            top: auto;
            bottom: -30px;
        }

        .main-blog-prev {
            left: -10px;
        }

        .main-blog-next {
            right: -10px;
        }

        .main-blog-pagination {
            bottom: -20px;
        }
    }

    &__slide {
        h2 {
            @extend %h2;
            text-align: center;
            color: $text-color;
            margin-bottom: 10px;
            height: calc(38px * 3);
        }

        &--image {
            position: relative;
            overflow: hidden;
            padding-bottom: 95%;
            margin-bottom: 26px;

            img {
                @include pos-absolute;
                @include full;
                @include img-full;
            }
        }

        &--content {
            padding: 0 24px;
            height: 124px;
            text-align: center;

            p {
                color: $text-color;
                @extend %text14;
                line-height: 24px;
                margin-bottom: 5px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            a {
                color: $text-color;
                @extend %text14;
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                transition: all 0.25s;

                &:hover {
                    color: $yellow-color;
                    text-decoration: none;
                }
            }
        }
    }

    &__item {
        height: 450px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }

        &--header {
            background-color: $light-brown;
            height: 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;

            h4 {
                text-align: center;
                color: $white-color;
            }
        }

        &--body {
            flex-grow: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &--image {
            @include pos-absolute;
            @include full;
            overflow: hidden;
            z-index: 1;

            img {
                @include full;
                @include img-full;
            }
        }
    }

    &__soc {
        @include nl;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;

        li {
            margin-right: 30px;
            display: block;
            width: 95px;
            flex-shrink: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            width: 95px;
            height: 95px;
            display: block;
            cursor: pointer;
            transition: all 0.25s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__news {
        background-color: $yellow-color;
        padding: 25px 40px;
        box-sizing: border-box;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

        h4 {
            text-align: center;
            color: $white-color;
            margin-bottom: 15px;
            text-decoration: none;
            a {
                text-decoration: none;
                color: $white-color;
                &:hover {
                    color: $white-color;
                    text-decoration: none;
                }
            }
        }

        time {
            color: $white-color;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            display: block;
            margin-right: 5px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: $text-color;

            a {
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                transition: all 0.25s;
                color: $text-color;

                &:hover {
                    color: $white-color;
                    text-decoration: none;
                }
            }
        }

        .link {
            color: $text-color;

            &:hover {
                color: $white-color;
            }
        }

        &--item {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 10px;
            }
        }

        &--title {
            display: flex;
            align-items: flex-end;

            a {
                text-decoration: none;
                font-size: 25px;
                font-weight: 700;
                line-height: 35px;
                color: $text-color;
                transition: all 0.25s;
                display: block;

                &:hover {
                    text-decoration: none;
                    color: $white-color;
                }
            }
        }
    }
}

.brand-values {
    margin-bottom: 20px;

    &__wrap {
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item {
        text-align: center;
        color: $text-color;
        margin-bottom: 30px;
        flex-shrink: 0;

        &.item1 {
            width: 240px;
        }
        &.item2 {
            width: 260px;
        }
        &.item3 {
            width: 235px;
        }
        &.item4 {
            width: 270px;
        }

        h3 {
            text-transform: uppercase;
            color: $text-color;
            font-size: 30px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 15px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.23px;
            line-height: 24px;
            margin-bottom: 0;
        }
    }

    &__image {
        height: 187px;
        width: 224px;
        position: relative;
        margin: 0 auto 25px;
        img {
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            display: block;
            @include center;
        }
    }
}

.banner-sale {
    padding: 40px 0 20px;

    &__wrap {
        position: relative;
        height: 446px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 100px;
        padding-bottom: 35px;

        &:before {
            @include before;
            position: absolute;
            top: -40px;
            left: 0;
            width: 100%;
            height: 0;
            border-top: 1px solid $light-brown;
        }

        .btn {
            margin-left: 80px;
        }
    }

    &__percent {
        font-size: 165px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: -20px;
        color: $text-color;
        margin-left: 80px;

        span {
            font-size: 60px;
        }
    }

    &__title {
        color: $white-color;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 60px;
        text-shadow: 0 3px 9px #6d6c6a;

        span {
            font-size: 50px;
            text-transform: uppercase;
        }
    }
}
