.product-min-banner {
    margin-bottom: 7px;
    position: relative;
    overflow: hidden;
    height: 185px;

    img {
        @include full;
        @include img-full;
        @include pos-absolute;
    }
}

.p-main {
    &__title {
        margin-bottom: 17px;

        h1 {
            @extend %h2;
            color: $black-color2;
        }
    }

    &__wrap {
        margin-bottom: 29px;
    }

    &__image {
        position: relative;
        height: 470px;

        img {
            @include pos-absolute;
            @include center;
            height: 93%;
            width: 93%;
            object-fit: contain;
        }

        &--loop {
            @include bg-svg($icon-loop);
            cursor: pointer;
            transition: all 0.25s;
            position: absolute;
            bottom: 20px;
            right: 20px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__info {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
    }

    &__article {
        @extend %text14;
        line-height: 24px;
        color: $black-color2;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 28px 25px;
        flex-grow: 1;
        border: 1px solid $light-brown;

        &--text {
            p {
                font-size: 20px;
                line-height: 25px;
                color: $black-color2;
                margin-bottom: 13px;
            }
            a {
                color: $black-color2;
                text-decoration: underline;
                transition: all 0.25s;
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 13px;
                display: block;
                &:hover {
                    color: $yellow-color;
                }
            }
        }

        .product {
            &__body {
                position: relative;
                .check-like {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &__content {
                margin-top: auto;
                padding: 0;
                height: auto;
            }

            &__new {
                position: relative;
                top: 0;
                left: 0;
                right: auto;
                margin-bottom: 10px;
            }

            &__hit {
                position: relative;
                top: 0;
                left: 0;
                right: auto;
                margin-bottom: 14px;
                width: max-content;
            }

            &__sale {
                position: relative;
                top: 0;
                left: 0;
                right: auto;
                margin-bottom: 14px;
            }

            &__price {
                text-align: left;
                margin-bottom: 18px;
            }

            &__basket {
                padding: 14px;
                background-color: $yellow-color;
                justify-content: space-between;
                .spinner-form {
                    margin-right: 0;
                }
            }
        }
    }
}

.product-table {
    border: 1px solid $border-color;
    margin-bottom: 22px;
    padding: 18px 28px;

    &__row {
        padding: 10px 0;
    }

    &__col1 {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        color: $light-brown;
        width: 35%;
        flex-shrink: 0;
        text-align: right;
        margin-right: 30px;
    }

    &__col2 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: $black-color2;
        flex-grow: 1;
        text-align: left;
    }
}

.product-info {
    h3 {
        @extend %h4;
        color: $light-brown;
        text-transform: uppercase;
        margin-bottom: 11px;
    }

    p {
        @extend %text15;
        line-height: 24px;
        color: $black-color2;
        margin-bottom: 20px;
    }
}

.p-reviews {
    margin-bottom: 55px;
    $f: &;

    &__wrap {
        position: relative;
        height: 650px;
        overflow: hidden;

        &.show {
            height: auto;
            padding-bottom: 60px;

            #{$f}__more {
                padding-top: 30px;
                height: 60px;

                &:after {
                    transform: rotate(180deg);
                    top: 5px;
                }
            }
        }
    }

    &__item {
        align-items: flex-start;
        margin-bottom: 43px;
        padding-bottom: 40px;
        border-bottom: 1px dashed $light-brown;
    }

    &__person {
        width: 440px;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
        flex-shrink: 0;
    }

    &__ava {
        width: 142px;
        height: 142px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 15px;
        border: 1px solid $light-brown;
        position: relative;

        &:after {
            @include before;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            border: 6px solid $white-color;
            @include pos-absolute;
            z-index: 2;
        }

        img {
            @include full;
            @include img-full;
            @include pos-absolute;
            z-index: 1;
        }
    }

    &__name {
        width: 208px;
        flex-shrink: 0;

        h6 {
            font-size: 20px;
            line-height: 25px;
            color: $black-color2;
            font-weight: bold;
            margin-bottom: 0;
        }

        time {
            @extend %text15;
            color: $black-color2;
            display: block;
        }
    }

    &__text {
        h4 {
            margin-bottom: 12px;
            font-weight: bold;
            font-size: 25px;
            line-height: 40px;
            color: $black-color2;
            text-transform: none;
        }

        p {
            color: $black-color2;
            @extend %text15;
            line-height: 24px;
            margin-bottom: 0;
        }

        h5 {
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            color: $black-color2;
            flex-shrink: 0;
            text-transform: none;
            margin-right: 5px;
        }

        &--row {
            margin-top: 23px;
            align-items: flex-start;
        }
    }

    &__more {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        height: 98px;
        width: 100%;
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        cursor: pointer;
        color: $light-brown;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 10%, rgba(255, 255, 255, 1) 80%);
        padding-top: 40px;

        &:after {
            @include before;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            margin: auto;
            @include bg-svg($arrow-more-down);
        }
    }
}

.check-product {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 3;
    border-radius: 6px;
    border: 1px solid $gray-color;
    width: 29px;
    height: 29px;
    background-color: $white-color;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
    &.checked {
        border-color: $green-check;
        background-color: $green-check;
        &:after {
            display: block;
        }
    }

    &:after {
        @include before;
        position: absolute;
        @include center;
        @include bg-svg($check);
        width: 15px;
        height: 14px;
        display: none;
    }
}
