{{> header/header-aut}}

<div>
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html" class="icon-house"></a>
                </li>
                <li>
                    <a href="catalog.html">Каталог</a>
                </li>
                <li>
                    <a href="catalog.html">Косметика для лица</a>
                </li>
                <li>
                    <a href="catalog.html">Сыворотки</a>
                </li>
                <li>ANTI-AGE Гоммаж для лица «Деликатное очищение»</li>
            </ul>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="catalog">
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="aside catalog-aside">
                            <ul class="filter-menu">
                                <li><a href="javascript:void(0)">Акции!</a></li>
                                <li class="has-child active"><a href="javascript:void(0)">Для лица</a>
                                    <ul class="filter-menu__sub">
                                        <li><a href="javascript:void(0)">Дневные кремы</a></li>
                                        <li><a href="javascript:void(0)">Ночные кремы</a></li>
                                        <li><a href="javascript:void(0)">Тоники</a></li>
                                        <li class="active"><a href="javascript:void(0)">Скрабы и пилинги</a></li>
                                        <li><a href="javascript:void(0)">Сыворотки</a></li>
                                        <li><a href="javascript:void(0)">Маски</a></li>
                                        <li><a href="javascript:void(0)">Масло</a></li>
                                        <li><a href="javascript:void(0)">Для кожи вокруг глаз</a></li>
                                        <li><a href="javascript:void(0)">Для бровей и ресниц</a></li>
                                        <li><a href="javascript:void(0)">Наборы</a></li>
                                    </ul>
                                </li>
                                <li class="has-child"><a href="javascript:void(0)">Для тела</a>
                                    <ul class="filter-menu__sub">
                                        <li><a href="javascript:void(0)">Дневные кремы</a></li>
                                        <li><a href="javascript:void(0)">Ночные кремы</a></li>
                                        <li><a href="javascript:void(0)">Тоники</a></li>
                                        <li><a href="javascript:void(0)">Скрабы и пилинги</a></li>
                                        <li><a href="javascript:void(0)">Сыворотки</a></li>
                                        <li><a href="javascript:void(0)">Маски</a></li>
                                        <li><a href="javascript:void(0)">Масло</a></li>
                                        <li><a href="javascript:void(0)">Для кожи вокруг глаз</a></li>
                                        <li><a href="javascript:void(0)">Для бровей и ресниц</a></li>
                                        <li><a href="javascript:void(0)">Наборы</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Для волос</a></li>
                                <li><a href="javascript:void(0)">Линейки</a></li>
                                <li class="has-child"><a href="javascript:void(0)">Наши бренды</a>
                                    <ul class="filter-menu__sub">
                                        <li><a href="javascript:void(0)">Бренд1</a></li>
                                        <li><a href="javascript:void(0)">Бренд2</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Крымское мыло</a></li>
                                <li><a href="javascript:void(0)">Сакская грязь</a></li>
                                <li><a href="javascript:void(0)">Подарочные наборы</a></li>
                            </ul>
                        </aside>
                    </div>

                    <div class="col-lg-9">
                        <div class="p-main__title">
                            <h1>anti-age Гоммаж для лица
                                на основе винограда «Деликатное очищение»
                                50 г </h1>
                        </div>
                        <div class="row p-main__wrap">
                            <div class="col-md-8">
                                <div class="p-main__image">
                                    <img src="static/img/content/product2.png" alt="">

                                    <div class="p-main__image--loop"></div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="p-main__info">
                                    <div class="p-main__article">Артикул товара: MNN456</div>
                                    <div class="p-main__card">
                                        <div class="product__body">
                                            <div class="product__new">НОВИНКА!</div>
                                            <div class="product__hit">хит продаж</div>
                                            <div class="product__sale">-20%</div>

                                            <div class="p-main__card--text">
                                                <a href="#p-reviews">Отзывы (21)</a>
                                                <p>Вес: 50 г</p>
                                            </div>

                                            {{> product/like}}
                                        </div>


                                        <div class="product__content">
                                            <div class="product__price"><span></span>560 руб.</div>

                                            <form>
                                                <div class="d-flex product__basket">
                                                    <div class="d-flex spinner-form">
                                                        <div class="count-minus">-</div>
                                                        <div class="wrap-input">
                                                            <input type="number" name="" class="spinner-form__input"
                                                                   data-size="1"
                                                                   value="1">
                                                        </div>
                                                        <div class="count-plus">+</div>
                                                    </div>

                                                    <button class="btn-add">
                                                        в корзину
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-min-banner">
                            <img src="static/img/content/min-banner.png" alt="">
                        </div>
                        <div class="product-table">
                            <div class="d-flex product-table__row">
                                <div class="product-table__col1">Бренд:</div>
                                <div class="product-table__col2">«Мануфактура ДОМ ПРИРОДЫ»®</div>
                            </div>
                            <div class="d-flex product-table__row">
                                <div class="product-table__col1">Линейка:</div>
                                <div class="product-table__col2">виноградная</div>
                            </div>
                            <div class="d-flex product-table__row">
                                <div class="product-table__col1">Основные компоненты:</div>
                                <div class="product-table__col2">ресвератрол, коллаген</div>
                            </div>
                            <div class="d-flex product-table__row">
                                <div class="product-table__col1">Действие:</div>
                                <div class="product-table__col2">anti-age</div>
                            </div>
                            <div class="d-flex product-table__row">
                                <div class="product-table__col1">Тип кожи:</div>
                                <div class="product-table__col2">нормальная</div>
                            </div>
                            <div class="d-flex product-table__row">
                                <div class="product-table__col1">Возраст:</div>
                                <div class="product-table__col2">30+</div>
                            </div>
                            <div class="d-flex product-table__row">
                                <div class="product-table__col1">Уход:</div>
                                <div class="product-table__col2">день, ночь</div>
                            </div>
                        </div>

                        <div class="product-info">
                            <h3>описание продукта</h3>
                            <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и подтягивающим
                                действием. Мощный антиоксидант ресвератрол способствует восстановлению зрелой кожи,
                                улучшает микроциркуляцию, укрепляет стенки кровеносных сосудов. Коллаген делает кожу
                                увлажненной, мягкой и упругой. В результате применения сыворотки контуры лица
                                подтягиваются, морщины становятся менее заметными.</p>

                            <h3>способ применения</h3>
                            <p>Нанести на чистую кожу лица. После впитывания рекомендуется нанести виноградный крем из
                                этой же линейки.</p>

                            <h3>состав</h3>
                            <p>Вода подготовленная, ресвератрол, экстракт виноградных косточек, экстракт персика,
                                сорбит, ксантановая камедь, гиалуроновая кислота, пантенол, витамины С и РР, коллаген,
                                аллантоин, оксиметилглицин, бензиловый спирт, парфюмерная композиция.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-product">
            <div class="container">
                <div class="main-title">
                    <h2>Вам также может понравиться</h2>
                </div>

                <div class="main-product__slider-wrap">
                    <div class="swiper-container main-product__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product2.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span></span>560 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product1.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span></span>560 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product2.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span>560</span>448 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>

                                        <div class="product__image">
                                            <img src="static/img/content/product3.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <a href="#" class="product__footer--link">узнать больше</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>
                                        <div class="product__sale">-20%</div>

                                        {{> product/like}}

                                        <div class="product__image">
                                            <img src="static/img/content/product3.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <a href="#" class="product__footer--link">узнать больше</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product__body">
                                        <div class="product__hit">хит продаж</div>
                                        <div class="product__new">НОВИНКА!</div>

                                        <div class="product__image">
                                            <img src="static/img/content/product2.png" alt="">
                                        </div>
                                        <div class="product__content">
                                            <a href="#" class="product__title">anti-age Гоммаж для лица
                                                на основе винограда «Деликатное очищение» 150 г</a>

                                            <div class="product__price"><span>560</span>448 руб.</div>
                                        </div>
                                    </div>

                                    <div class="product__footer">
                                        <form>
                                            <div class="d-flex product__basket">
                                                <div class="d-flex spinner-form">
                                                    <div class="count-minus">-</div>
                                                    <div class="wrap-input">
                                                        <input type="number" name="" class="spinner-form__input"
                                                               data-size="1"
                                                               value="1">
                                                    </div>
                                                    <div class="count-plus">+</div>
                                                </div>

                                                <button class="btn-add">
                                                    <div class="icon-basket-black"></div>
                                                    в корзину
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination main-product-pagination"></div>

                    <div class="swiper-button-prev main-product-prev"></div>
                    <div class="swiper-button-next main-product-next"></div>
                </div>
            </div>
        </div>


        <div id="p-reviews" class="p-reviews">
            <div class="container">
                <div class="main-title">
                    <h2>отзывы О ТОВАРЕ (21)</h2>
                </div>

                <div class="p-reviews__wrap">
                    <div class="d-flex p-reviews__item">
                        <div class="d-flex p-reviews__person">
                            <div class="p-reviews__ava">
                                <img src="static/img/content/ava-p.png" alt="">
                            </div>
                            <div class="p-reviews__name">
                                <h6>Рита-Маргарита</h6>
                                <time>21.12.2019 в 16:24</time>
                            </div>
                        </div>

                        <div class="p-reviews__text">
                            <h4>Идеально для меня!</h4>
                            <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и подтягивающим
                                действием. Мощный антиоксидант ресвератрол способствует восстановлению зрелой кожи,
                                улучшает
                                микроциркуляцию, укрепляет стенки кровеносных сосудов. Коллаген делает кожу увлажненной,
                                мягкой и упругой. В результате применения сыворотки контуры лица подтягиваются, морщины
                                становятся менее заметными.</p>

                            <div class="d-flex p-reviews__text--row">
                                <h5>ДОМ ПРИРОДЫ:</h5>
                                <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и
                                    подтягивающим
                                    действием. Мощный антиоксидант ресвератрол способствует </p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex p-reviews__item">
                        <div class="d-flex p-reviews__person">
                            <div class="p-reviews__ava">
                                <img src="static/img/content/ava-p.png" alt="">
                            </div>
                            <div class="p-reviews__name">
                                <h6>Рита-Маргарита</h6>
                                <time>21.12.2019 в 16:24</time>
                            </div>
                        </div>

                        <div class="p-reviews__text">
                            <h4>Идеально для меня!</h4>
                            <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и подтягивающим
                                действием. Мощный антиоксидант ресвератрол способствует восстановлению зрелой кожи,
                                улучшает
                                микроциркуляцию, укрепляет стенки кровеносных сосудов. Коллаген делает кожу увлажненной,
                                мягкой и упругой. В результате применения сыворотки контуры лица подтягиваются, морщины
                                становятся менее заметными.</p>

                            <div class="d-flex p-reviews__text--row">
                                <h5>ДОМ ПРИРОДЫ:</h5>
                                <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и
                                    подтягивающим
                                    действием. Мощный антиоксидант ресвератрол способствует </p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex p-reviews__item">
                        <div class="d-flex p-reviews__person">
                            <div class="p-reviews__ava">
                                <img src="static/img/content/ava-p.png" alt="">
                            </div>
                            <div class="p-reviews__name">
                                <h6>Рита-Маргарита</h6>
                                <time>21.12.2019 в 16:24</time>
                            </div>
                        </div>

                        <div class="p-reviews__text">
                            <h4>Идеально для меня!</h4>
                            <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и подтягивающим
                                действием. Мощный антиоксидант ресвератрол способствует восстановлению зрелой кожи,
                                улучшает
                                микроциркуляцию, укрепляет стенки кровеносных сосудов. Коллаген делает кожу увлажненной,
                                мягкой и упругой. В результате применения сыворотки контуры лица подтягиваются, морщины
                                становятся менее заметными.</p>

                            <div class="d-flex p-reviews__text--row">
                                <h5>ДОМ ПРИРОДЫ:</h5>
                                <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и
                                    подтягивающим
                                    действием. Мощный антиоксидант ресвератрол способствует </p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex p-reviews__item">
                        <div class="d-flex p-reviews__person">
                            <div class="p-reviews__ava">
                                <img src="static/img/content/ava-p.png" alt="">
                            </div>
                            <div class="p-reviews__name">
                                <h6>Рита-Маргарита</h6>
                                <time>21.12.2019 в 16:24</time>
                            </div>
                        </div>

                        <div class="p-reviews__text">
                            <h4>Идеально для меня!</h4>
                            <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и подтягивающим
                                действием. Мощный антиоксидант ресвератрол способствует восстановлению зрелой кожи,
                                улучшает
                                микроциркуляцию, укрепляет стенки кровеносных сосудов. Коллаген делает кожу увлажненной,
                                мягкой и упругой. В результате применения сыворотки контуры лица подтягиваются, морщины
                                становятся менее заметными.</p>

                            <div class="d-flex p-reviews__text--row">
                                <h5>ДОМ ПРИРОДЫ:</h5>
                                <p>Обеспечивает коже глубокое увлажнение и питание, обладает омолаживающим и
                                    подтягивающим
                                    действием. Мощный антиоксидант ресвератрол способствует </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-reviews__more">Развернуть все отзывы</div>
                </div>

                <a href="#" class="btn btn-yellow ml-auto">+ оставить отзыв</a>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
